.main_nav_bar{
	background-color: #3A85C7;
}
.navbar-brand{
	color: white;
}
.auth-nav{
	color:#3A85C7;
}

.div-footer{
	position: absolute;
	bottom: 0;
	width: 100%;
}
.nav-app-name{
	transform: translateX(-50%);
	left: 50%;
	position: absolute;
	font-size: 24px;
}

.my-navbar{
	height: 70px;
	background-color:white;
}


.m-profile-img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
} 

.btn-seemore-tone{
	margin-top: 10px;
}
   
.btn-seemore-tone:hover{
	transform: scale(1.1);
	transition: all 0.3s;
} 
