.form-rounded{
	border-radius: 1rem;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding:  6px 0px;
    border-radius: 15px;
     margin: 0px 5px; 
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.search-bar{
	height: 52px;
	background-color: white;
	border: 1px solid #3A85C7;
	border-radius: 36px;

  	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
}
.search-bar:hover{
	box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
}
.f-icon-btn{
	
	background-color: #3A85C7;
	color: white;
	border: 1px solid #3A85C7;
  	border-radius: 36px;
  	

  	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
}
.f-icon-btn:hover{
	box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
}
.home-icon{
	height: 28px;
}

.tableHeading-color {
	background-color:  #3A85C7;
}

.btn-search {
	border: 1px solid #3A85C7;
	border-radius: 36px;
	color: white;
	background-color:  #3A85C7;
  	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	
	width:48px;
	height:48px;
}

.btn-cancel {
	border: 1px solid #d50000;
	border-radius: 36px;
	color: white;
	background-color:  #d50000;
  	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	
	width:48px;
	height:48px;
}

.btn-search:hover{
	box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
	color: white;
}


.form-rounded {
	border-radius: 1rem;
}

th {
	color: white;
}
.search-bar-sub{
	background-color: white;
	border: 1px solid #3A85C7;
	border-radius: 36px;
	height:48px;

  	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
}

.search-bar-sub:hover{
	box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
}


/* MemberBookings */

.div-select{
	width: 100%;
}



#table-bookings-thead{
	width: 100%;
	background: #3A85C7;
}

#table-bookings-tr{
	color:black;
}

#status-pending{
	color: #689f38;
}

#status-comfirm{
	color: #1b5e20;
}
#status-cancel{
	color: #d50000;
}
