.tableHeading-color {
	background-color:  #3A85C7;
}

.btn-search {
	border: 1px solid #3A85C7;
	border-radius: 36px;
	color: white;
	background-color:  #3A85C7;
  	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	
	width:48px;
	height:48px;
}

btn-search{
	box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
}


.form-rounded {
	border-radius: 1rem;
}

th {
	color: white;
}
.search-bar-sub{
	background-color: white;
	border: 1px solid #3A85C7;
	border-radius: 36px;
	height:48px;

  	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
}

.search-bar-sub:hover{
	box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
}