.tableHeading-color {
	background-color: #3377FF
}

.rounded-searchbox {
	margin-top: 100px;
	height: 1000px;
	width: 80%
}

.btn-dr-search {
	border: 2px solid rgba(58, 133, 191, 0.75);
	border-radius: 40px;
}



.form-rounded {
	border-radius: 1rem;
}

th {
	color: white;
}