<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title layout:title-pattern="$LAYOUT_TITLE | $CONTENT_TITLE">Clinic</title>

<link rel="stylesheet" th:href="@{/resources/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/resources/css/application.css}">

<script th:src="@{/resources/js/popper.min.js}"></script>
<script th:src="@{/resources/js/jquery.min.js}"></script>
<script th:src="@{/resources/js/bootstrap.min.js}"></script>
<script th:src="@{/resources/js/all.js}"></script>


</head>
<body>
	<div class="wrapper">

		<div class="sidebar shadow" id="m-sidebar" data-color="purple">

			<div class="sidebar-wrapper">

				<div class="logo m-sidebar-header pt-4 pb-4 pl-4 pr-2">

					<table class="w-100">

						<tr>

							<td><img th:src="@{/resources/img/avatar5.png}"
								class="m-profile-img-sidebar" /></td>

							<td>
								<h6 th:text="${session.loginUser.name}"></h6> <span style="color: #DEDEDE" th:text="${session.loginUser.phone}"></span>

							</td>

						</tr>

					</table>

				</div>

				<div class="nav">

					<a th:href="@{/home}" class="btn w-100 text-left nav-link active"> 
						<i class="fal fa-tachometer-alt"></i>&nbsp;Dashboard
					</a>
					<a href="#clinic-list" class="btn w-100 text-left nav-link dropdown-toggle-split"
						data-toggle="collapse" aria-expanded="false"> <i
						class="fal fa-hospitals"></i>&nbsp;Clinics <i
						class="fal fa-angle-right ml-auto"></i>
					</a>

					<ul class="collapse list-unstyled w-100" id="clinic-list">
						<li class="ml-3" th:each="clinic: ${session.partnerUser.clinics}">
							<a th:unless="*{clinic.security.delete}" th:href="@{/partner/clinics/{id}(id=${clinic.id})}" class="text-left btn w-100 nav-link"> 
								<i class="fal fa-hospital"></i>&nbsp;<span th:text="${clinic.name}"></span>
							</a>
						</li>
						<li class="ml-3">
							<a th:href="@{/partner/clinics/create}" class="text-left btn w-100 nav-link"> 
								<i class="fal fa-plus"></i>&nbsp;New Clinic
							</a>
						</li>
					</ul>

					<a th:href="@{/partner/1/patients}" class="btn w-100 text-left nav-link"> <i
						class="fal fa-user-injured"></i>&nbsp;Patients
					</a> <a th:href="@{/partner/bookings}" class="btn w-100 text-left nav-link"> <i
						class="fal fa-book"></i>&nbsp;Bookings <span th:if="${session.newBookingsCount != 0}"
						class="label label-success ml-auto badge"
						style="background-color: green; color: white"><span th:text="${session.newBookingsCount}"></span> news</span>
					</a> <a th:href="@{/partner/doctors}" class="btn w-100 text-left nav-link"> <i
						class="fal fa-user-md"></i>&nbsp;Doctors
					</a> <a th:href="@{/partner/schedules}" class="btn w-100 text-left nav-link"> <i
						class="fal fa-calendar-alt"></i>&nbsp;Schedule
					</a>


				</div>

			</div>

		</div>


		



		<div class="main-panel" id="main-panel">

			<nav id="part-d-nav"
				class="navbar sticky-top navbar-default navbar-fixed shadow my-navbar">


				<a th:href="@{/}" class="btn nav-app-name stretched-link"><span><i class="fab fa-pagelines mr-auto" style="font-size:28px; color:#5aba4a"></i></span> Clinic Link</a>


				<div class="btn mr-auto text-left hover-scale-animation" id="sidebarCollapse"
					style="position: absolute;">
					<i class="far fa-bars" style="font-size: 24px;"></i>
				</div>


				<div class="ml-auto text-right dropdown m-account-dropdown">

					<a class="btn text-right dropdown-toggle-split"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span class="d-md-inline d-none" th:text="${session.loginUser.name}"></span> <img alt="no image"
						class="m-profile-img" th:src="@{/resources/img/avatar5.png}" />
					</a>

					<div id="dropdown" class="dropdown-menu dropdown-menu-right">
						<a class="dropdown-item" href="#"><i class="fal fa-user"></i>&nbsp;Profile</a>

						<div class="dropdown-divider"></div>

						<a class="dropdown-item" href="#">
							<i class="fal fa-cog text-aqua"></i>&nbsp;Setting
						</a> 
							
						<a class="dropdown-item" id="signout-btn">
							<i class="fal fa-sign-out"></i>&nbsp;Logout
						</a>
					</div>


				</div>
				<!-- drop div end -->

			</nav>
			
			<section class="part-in-content content p-2">

				<div layout:fragment="dashboard-contents"></div>


			</section>

		</div><!-- main panel end -->
	</div>
	
	<form id="logout-form" method="post" class="d-none" th:action="@{/logout}">
	</form>
	


	<script>
		$('#sidebarCollapse').on('click', function() {
			$('#m-sidebar').toggleClass('active');
			$('#main-panel').toggleClass('active');
		});
			
		$('#signout-btn').on('click', function(){
			$('#logout-form').submit();
		});
		
		
	</script>

</body>
</html>