<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title layout:title-pattern="$LAYOUT_TITLE | $CONTENT_TITLE">Clinic</title>

<link rel="stylesheet" th:href="@{/resources/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/resources/css/font-awesome.min.css}">
<link rel="stylesheet" th:href="@{/resources/css/application.css}">

<script th:src="@{/resources/js/jquery.min.js}"></script>
<script th:src="@{/resources/js/popper.min.js}"></script>
<script th:src="@{/resources/js/bootstrap.min.js}"></script>

</head>
<body>

	<div class="container">
		<h1><i class="fa fa-cog"></i> Test</h1>
		<a th:href="@{/login}" class="btn btn-primary">Login</a>
	</div>
	
	<nav></nav>
	
	<section class="container">
		<div layout:fragment="content"></div>
	</section>
	
	<footer></footer>
	
</body>
</html>