<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{/layout/member-dashboard-template}">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/resources/css/custom.css">
<link rel="stylesheet" th:href="@{/resources/css/bootstrap.min.css}">
<script th:src="@{/resources/js/jquery.min.js}"></script>
<script th:src="@{/resources/js/jquery-ui.min.js}"></script>
<title>Bookings</title>
</head>
<body>
	<section layout:fragment="dashboard-contents">
		<div>
			<p style="font-size: 20px;" class="ml-3">Bookings</p>

		</div>
		<!-- start selection -->
		<div class="row mx-3 my-2" id="div-select">
			<!-- <div id="selection">
				
				<div class="form-group">
					<select class="form-control mdb-select md-form" name="patientName" id="selectbox">

						<option value="" disabled selected>Choose Patient</option>
						<option th:each="family: ${familyMembers}" th:text="${family.name}" th:value="${family.id}"></option>

					</select>
				</div>
			</div>

			<div id="selection">
				<div class="form-group">
					<select class="form-control mdb-select md-form" name="doctorName" id="selectbox">

						<option value="" disabled selected>Choose Doctor</option>
						<option th:each="booking : ${bookings}" th:text="${booking.clinicDoctor.doctor.name}" th:value="${booking.clinicDoctor.doctor.id}"></option>

					</select>
				</div>
			</div> -->
			<div id="selection">

				<input type="text" placeholder="Search Booking..." id="searching"
					class="form-control form-rounded" size="35">

			</div>
			<!-- <div id="selection">
				<div class="form-group">
					<select class="form-control mdb-select md-form" name="clinicName" id="selectbox">

						<option value="" disabled selected>Choose Clinic</option>
						<option th:each="booking : ${bookings}" th:text="${booking.clinicDoctor.clinic.name}" th:value="${booking.clinicDoctor.clinic.id}"></option>
						
					</select>
				</div>
			</div> -->
			<div id="selection" class="row">

				<p class="col pt-2" style="size: 20px;">
					<b>Search by date</b>
				</p>
				<form method="get" id="formId" action="/member/bookings/" name="formId">
				<input type="text" class="form-control col" id="datepicker"
					size="12px">
				</form>
			</div>

		</div>
		<!-- End selection -->
		<div class="row mx-3" th:if="${not #lists.isEmpty(bookings)}">
			<table class="table  table-responsive-md  table-hover table-bordered"
				id="table-bookings">
				<thead id="table-bookings-thead">
					<tr>
						<td class="text-center">No</td>
						<td class="text-center">Name</td>
						<td class="text-center">Clinic</td>
						<td class="text-center">Doctor</td>
						<td class="text-center">Date</td>
						<td class="text-center">Time</td>
						<td class="text-center">Action</td>

					</tr>
				</thead>
				<tbody id="bookingTable">
				
					<tr th:each="booking,iterationStatus :${bookings}">
						<td class="text-center" th:text="${iterationStatus.count}"></td>
						<td>
							<p style="float: left"
								th:text="${booking.patient.familyMember.name}"></p> <span
							class="label label-success ml-auto badge mt-1"
							style="background-color: #ef6c00; color: white; float: right; width: 80px;"
							th:text="${booking.status}"></span>
						</td>
						<td class="text-center"
							th:text="${booking.clinicDoctor.clinic.name}"></td>
						<td class="text-center"
							th:text="${booking.clinicDoctor.doctor.name}"></td>
						<td class="text-center" th:text="${booking.bookingDate}"></td>
						<td class="text-center"
							th:text="${booking.timeTable.timeFrom} + ' to '+ ${booking.timeTable.timeTo}"></td>
						<td class="text-center">
							<button type="button" class="btn btn-delete" data-toggle="modal"
								data-target="#myModal">
								<i id="book-cancel" class="fal fa-trash-alt fa-lg"></i>
							</button>
						</td>

					</tr>

				</tbody>
			</table>
		</div>

		<div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">

						<h4 class="modal-title" style="color: red">Are you sure to
							cancel?</h4>
						<button type="button" class="btn btn-outline-danger"
							data-dismiss="modal">Yes</button>
					</div>
				</div>
			</div>
		</div>




		<link rel="stylesheet"
			href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script>
         $(document).ready(function(){
            $("#searching").on("keyup", function() {
               var value = $(this).val().toLowerCase();
               $("#bookingTable tr").filter(function() {
                  $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
               });
            });
         });
      </script>
		<script type="text/javascript">
		$(document).ready(function() {
			  $('#datepicker').datepicker({
				  dateFormat : 'yy-mm-dd',
					changeMonth : true,
					changeYear : true,
					yearRange : '-100y:c+nn',
					monthRage : 'undefined', 
			       onSelect : function (dateText, inst) {
			          document.formId.action = "/member/bookings/"+ dateText; 
			          $('#formId').submit();
			  }}).datepicker("setDate", new Date());
			});
		</script>
	</section>
</body>
</html>



