<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{/layout/member-dashboard-template}">
<head>
<meta charset="UTF-8">
<title>Member</title>
<link rel="stylesheet" th:href="@{/resources/css/timeline.css}">
<link rel="stylesheet" th:href="@{/resources/css/datepicker.css}">

<script th:src="@{/resources/js/calendar.js}"></script>

<style type="text/css">
.dash-card-icons {
	color: white;
}


.table-in-card{
	color: white;
	width:100%;
}

.card-general .dash-card-icons{
	transform: scale(1,1);
	transition: all 0.3s;
}

.card-general:hover .dash-card-icons{
	 transform: scale(1.1,1.1);
}
.card-parent{
	
}

{
font-family:'OpenSans';

		
}
body {
	background-color: #fafafa;
}

pre {
	font-family: Courier New;
}


</style>
</head>
<body>
	<section layout:fragment="dashboard-contents">

		<div>
			<p style="font-size:20px;" class="ml-1">Dashboard</p>
			
		</div>
		<div class="container-fluid">
			<div class="row">
					
					<div class="col-lg-3 col-sm-6 p-1">
						<div class="p-3 card-general" style="background-color: #3AC7BC;">
							<table class="table-in-card">
								<tr>
									<td>Clinics</td>
									<td rowspan="2" class="text-right ml-auto">
										<i class="fas fa-hospital dash-card-icons w-50 h-50"></i>
									</td>
								</tr>
								<tr>
									<td><h1 th:text="${clinicCount}"></h1></td>
								</tr>

							</table>
						</div>
					</div>
					
					<div class="col-lg-3 col-sm-6 p-1">
						<div class="p-3 card-general" style="background-color: #8ab200;">
							<table class="table-in-card">
								<tr>
									<td>Bookings</td>
									<td rowspan="2" class="text-right">
										<i class="fas fa-book dash-card-icons w-50 h-50"></i>
									</td>
								</tr>
								<tr>
									<td><h1 th:text="${bookingCount}"></h1></td>
								</tr>

							</table>
						</div>
					</div>
					
					
					<div class="col-lg-3 p-1 col-sm-6 card-parent">
						<div class="p-3 card-general" style="background-color: #618833;">
							<table class="table-in-card">
								<tr>
									<td>Members</td>
									<td rowspan="2" class="text-right">
										<i class="fas fa-user dash-card-icons w-50 h-50"></i>
									</td>
								</tr>
								<tr>
									<td><h1 th:text="${memberCount}"></h1></td>
								</tr>

							</table>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6 p-1">
						
						
						<div class="p-3 card-general" style="background-color: #00695f;">
							<table class="table-in-card">
								<tr>
									<td>Activities</td>
									<td rowspan="2" class="text-right">
										<i class="far fa-list-ul dash-card-icons w-50 h-50"></i>
									</td>
								</tr>
								<tr>
									<td><h1>2</h1></td>
								</tr>

							</table>
						</div>
					</div>

					
					
			</div>
			
			<!-- Start Activities -->

			<!-- <div class="ml-3 mt-2">
				<div id="eventTitle" class="row">
					<h3>Activities</h3>

					<button class="btn btn-outline-info" style="margin-left: 500px;"
						data-toggle="modal" data-target="#createEventModal">
						
						<i class="fa fa-plus">&nbsp;&nbsp;</i>Add New Event
					</button>
					
					
					
				</div>
				<div class="row" th:if="${not #lists.isEmpty(events)}">
					<table class="table table-hover" id="event-table">
						<thead>
							<tr>
								<td>No</td>
								<td>Event Name</td>
								<td>Event Date</td>
								<td colspan="2"></td>
							</tr>
						</thead>
						<tbody>
							<tr th:each="event,iterationStatus :${events}">
								<td th:text="${iterationStatus.count}"></td>
								<td th:text="${event.eventName}"></td>
								<td th:text="${event.eventDate}"></td>
								<td><button class="btn btn-outline-success">Edit</button></td>
								<td><button class="btn btn-outline-danger">Delete</button></td>

							</tr>
						</tbody>
					</table>
				</div>

			</div> -->
</div>


			
			<!-- <div class="modal fade" id="createEventModal" role="dialog">
			
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title">Add New Event</h4>
						</div>
		
						<div class="modal-body">
						
							<div class="form-group">
								<label style="size: 18px;" for="focusedInput">Event Name</label>
								<input type="text" class="form-control" id="focusedInput">
							</div>
							<div class="form-group">
								<label style="size: 18px;" for="focusedInput">Event Date</label>
								<input type="text" class="form-control" size="12px"
									data-toggle="datepicker">
							</div>
						</div>
						
						<div class="modal-footer">
							<button class="btn btn-outline-success" type="submit"
								data-dismiss="modal">Save</button>
						</div>

					</div>
				</div>
			</div>
			

			<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
			<script
				src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
			<script th:src="@{/resources/js/datepicker.js}"></script>
			<script>
				$(function() {
					$('[data-toggle="datepicker"]').datepicker({
						autoHide : true,
						zIndex : 2048,
						format : "dd-mm-yy",
					});
				});
			</script> -->
			
			<!-- End Activities -->
			
		</section>	
</body>
</html>