<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{/layout/template}">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/resources/css/custom.css">
<title>Bookings</title>
</head>
<body>
	<section layout:fragment="content">
		<h3 class="mx-3 my-3">Bookings</h3>
		<!-- start selection -->
		<div class="row mx-3 my-2" id="div-select">
			<div id="selection">
				<div class="dropdown">
					<button class="btn dropdown-toggle" type="button"
						id="dropdownMenuButton" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false">Patient Name</button>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<a class="dropdown-item" href="#">Daw Mya</a> <a
							class="dropdown-item" href="#">Daw Hla</a> <a
							class="dropdown-item" href="#">U Soe</a>
					</div>
				</div>
			</div>
			<div id="selection">
				<div class="dropdown">
					<button class="btn btn-primary dropdown-toggle" type="button"
						id="dropdownMenuButton" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false">Doctor Name</button>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<a class="dropdown-item" href="#">Dr.Khine</a> <a
							class="dropdown-item" href="#">Dr.Grace</a> <a
							class="dropdown-item" href="#">Dr.Aung Min</a>
					</div>
				</div>
			</div>
			<div id="selection">
				<div class="dropdown">
					<button class="btn btn-primary dropdown-toggle" type="button"
						id="dropdownMenuButton" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false">Status</button>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<a class="dropdown-item" href="#">Confirmed</a> 
						<a	class="dropdown-item" href="#">Cancel</a> 
					</div>
				</div>
			</div>

			<div id="selection">
			<input type="text" class="form-control"  id="datepicker">
			
			</div>
		</div>
		<!-- End selection -->
		<div class="row mx-3">
			<table class="table  table-responsive-md  table-hover table-bordered"
				id="table-bookings">
				<thead id="table-bookings-thead">
					<tr>
						<td class="text-center">No</td>
						<td class="text-center">Name</td>
						<td class="text-center">Doctor</td>
						<td class="text-center">Date</td>
						<td class="text-center">Time</td>
						<td class="text-center">Status</td>
						

					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>Daw Mya
						
						</td>
						<td>Dr.Sai Zaw Win Naing</td>
						<td>12 Jun 2019</td>
						<td>8:00 am to 11:00 am</td>
						
						<td class="text-center">
							<button type="button" class="btn btn-delete" data-toggle="modal"
								data-target="#myModel">
								<i id="book-confirm" class="fa fa-check fa-lg"></i>
							</button>
							<button type="button" class="btn btn-delete" data-toggle="modal"
								data-target="#myModal">
								<i id="book-cancel" class="fa fa-trash-o fa-lg"></i>
							</button>
						</td>

					</tr>
					<tr>
						<td>2</td>
						<td>U Aung La
						
						</td>
						<td>Dr.Min Thu</td>
						<td>12 Jun 2019</td>
						<td>8:00 am to 11:00 am</td>
						
						<td class="text-center">
							<button type="button" class="btn btn-delete" data-toggle="modal"
								data-target="#myModel">
								<i id="book-confirm" class="fa fa-check fa-lg"></i>
							</button>
							<button type="button" class="btn btn-delete" data-toggle="modal"
								data-target="#myModal">
								<i id="book-cancel" class="fa fa-trash-o fa-lg"></i>
							</button>
						</td>

					</tr>
					<tr>
						<td>3</td>
						<td>Daw Rosey
						
						</td>
						<td>Dr.Sai Zaw Win Naing</td>
						<td>12 Jun 2019</td>
						<td>8:00 am to 11:00 am</td>
						
						<td class="text-center">
							<button type="button" class="btn btn-delete" data-toggle="modal"
								data-target="#myModel">
								<i id="book-confirm" class="fa fa-check fa-lg"></i>
							</button>
							<button type="button" class="btn btn-delete" data-toggle="modal"
								data-target="#myModal">
								<i id="book-cancel" class="fa fa-trash-o fa-lg"></i>
							</button>
						</td>
						</tr>
						<tr>
						<td>4</td>
						<td>Daw Khin Khin Win
								</td>
						<td>Dr.Aung Ko Min</td>
						<td>12 Jun 2019</td>
						<td>8:00 am to 11:00 am</td>
						
						<td class="text-center">
							<button type="button" class="btn btn-delete" data-toggle="modal"
								data-target="#myModel">
								<i id="book-confirm" class="fa fa-check fa-lg"></i>
							</button>
							<button type="button" class="btn btn-delete" data-toggle="modal"
								data-target="#myModal">
								<i id="book-cancel" class="fa fa-trash-o fa-lg"></i>
							</button>
						</td>

					</tr>
					<tr>
						<td>5</td>
						<td>U Kyaw Mya
						
						</td>
						<td>Dr.Thu Thu Aung</td>
						<td>12 Jun 2019</td>
						<td>8:00 am to 11:00 am</td>
						
						<td class="text-center">
							<button type="button" class="btn btn-delete" data-toggle="modal"
								data-target="#myModel">
								<i id="book-confirm" class="fa fa-check fa-lg"></i>
							</button>
							<button type="button" class="btn btn-delete" data-toggle="modal"
								data-target="#myModal">
								<i id="book-cancel" class="fa fa-trash-o fa-lg"></i>
							</button>
						</td>

					</tr>
					<tr>
						<td>6</td>
						<td>Daw Thin Kyi
						
						</td>
						<td>Dr.Sai Zaw Win Naing</td>
						<td>12 Jun 2019</td>
						<td>8:00 am to 11:00 am</td>
						
						<td class="text-center">
							<button type="button" class="btn btn-delete" data-toggle="modal"
								data-target="#myModel">
								<i id="book-confirm" class="fa fa-check fa-lg"></i>
							</button>
							<button type="button" class="btn btn-delete" data-toggle="modal"
								data-target="#myModal">
								<i id="book-cancel" class="fa fa-trash-o fa-lg"></i>
							</button>
						</td>

					</tr>
				</tbody>
			</table>
		</div>

		<div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">

						<h4 class="modal-title" style="color: red">Are you sure to
							cancel?</h4>
						<button type="button" class="btn btn-outline-danger"
							data-dismiss="modal">Yes</button>
					</div>
				</div>
			</div>
		</div>
		
		<div class="modal fade" id="myModel" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">

						<h4 class="modal-title" style="color: success">Are you sure to
							confirm?</h4>
						<button type="button" class="btn btn-outline-success"
							data-dismiss="modal">Yes</button>
					</div>
				</div>
			</div>
		</div>
		
		
		
		
		   
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <script>
            $( function() {
            	
              $( "#datepicker" ).datepicker({
                dateFormat : 'dd/mm/yy',
                changeMonth : true,
                changeYear : true,
                yearRange: '-100y:c+nn',
                monthRage:'undefined',
                /* maxDate: '-1d', */
              });
              
              $("#datepicker").datepicker({ dateFormat: "dd/mm/yy"}).datepicker("setDate", new Date());
            } );
            </script>
	</section>
</body>
</html>