<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{/layout/partner-deshboard-template}">
<head>
<meta charset="ISO-8859-1">
<title>New</title>
</head>
<body>
	<div layout:fragment="dashboard-contents">

		<form method="get" class="form mt-2">
		
			<div class="card">

				<div class="card-header bg-transparent">
				
					<div style="font-size: 20px;" class="ml-1">Add New Clinic</div>
					
					<div class="text-muted">Please fill your clinic information</div>
					
				</div><!-- card header -->

				<div class="card-body">
				
					<div class="container-fluid">
						
						<div class="row">
								
							<div class="col-12 col-md-6">
								
								<div class="form-group">
									
									<label>Enter clinic name</label>
									<input type="text" placeholder="Name" name="name" class="form-control"/>
									
								</div><!-- name form -->
								
								<div class="form-group">
									
									<label>Enter clinic category</label>
									<input type="text" placeholder="Category" list="category" name="category" class="form-control"/>
									<datalist id="category">
										<option>General</option>
										<option>Dental</option>
										<option>Orthopedic</option>
										<option>Heart</option>
									</datalist>
									
								</div><!-- category form -->
								
								<div class="form-group">
									
									<label>Select Division / State</label>
									<select class="form-control mdb-select md-form" name="division">
									
  										<option th:each="division: ${divisions}" th:text="${division.name}" th:value="${division.name}"></option>
  										
  									</select>
									
								</div><!-- Division form -->
								
								<div class="form-group">
									
									<label>Select Township</label>
									<select class="form-control mdb-select md-form" name="township">
									
  										<option value="" disabled selected>Choose Township</option>
  										<option value="Hlaing">Hlaing</option>
  										<option value="Sanchaung">Sanchaung</option>
  										<option value="Kamayut">Kamayut</option>
  										
  									</select>
									
								</div><!-- Township form -->
								
								<div class="form-group">
									
									<label>Enter clinic address</label>
									<textarea class="form-control" placeholder="Address"></textarea>
									
								</div><!-- Address form -->
								
							</div><!-- first column -->
							
							<div class="col-12 col-md-6">

								
								<div class="form-group">
									
										<label>Enter phone numbers</label>
										<div class="phone-list">
											<div class="phone-input">
												<input type="tel" placeholder="Phone" name="phone1" class="form-control"/>
											</div>
										</div>
										<button type="button" class="btn mt-1 form-control btn-outline-info btn-add-phone" style="border-style: dashed;"><span><i class="far fa-plus"></i></span> Add New</button>
										
									
								</div><!-- phone form -->
								
								<div class="form-group">
									
									<label>Enter Email address</label>
									<div class="email-list">
										<div class="email-input">
											<input type="email" placeholder="Email" name="email1" class="form-control"/>
										</div>
									</div>
									<button type="button" class="btn mt-1 form-control btn-outline-info btn-add-email" style="border-style: dashed;"><span><i class="far fa-plus"></i></span> Add New</button>
									
								</div><!-- email form -->
						
						
								<div class="form-group">
									
									<label>Enter Website URL</label>
									<input type="url" placeholder="http://www." name="website" class="form-control"/>
									
								</div><!-- web url form -->
								
							</div><!-- second column -->
						
						</div><!-- row -->
						
					</div><!-- container-fluid -->
				
				</div><!-- card body -->

				<div class="card-footer text-right bg-transparent">
					
					<input type="submit" value="Submit" id="create-clinic" class="btn btn-outline-success"/>
					
				</div><!-- card footer -->

			</div><!-- card -->
			
		</form>
		
		<script>

		$(document.body).on('click','.btn-remove-phone',function(){
			$(this).closest('.phone-input').remove();
		});
		
		$('.btn-add-phone').on('click', function() {
			var index = $('.phone-input').length + 1;
			$('.phone-list').append(''+
					'<div class="container-fluid phone-input">'+
					'<div class="row">'+
					'<input type="tel" placeholder="Phone" name="phone'+index+'" class="mt-1 col-11 form-control"/>'+
					'<button type="button" class="ml-1 btn btn-outline-danger mt-1 btn-remove-phone"><i class="fal fa-times"></i></button>'+
					'</div></div>'
					);
		});

		$(document.body).on('click','.btn-remove-email',function(){
			$(this).closest('.email-input').remove();
		});
		
		$('.btn-add-email').on('click', function() {
			var index = $('.email-input').length + 1;
			$('.email-list').append(''+
					'<div class="container-fluid email-input">'+
					'<div class="row">'+
					'<input type="email" placeholder="Email" name="mail'+index+'" class="mt-1 col-11 form-control"/>'+
					'<button type="button" class="ml-1 btn btn-outline-danger mt-1 btn-remove-email"><i class="fal fa-times"></i></button>'+
					'</div></div>'
					);
		});
		</script>
		
	</div>
</body>
</html>