<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{/layout/template}">
<head>
<meta charset="ISO-8859-1">
<title>Clinic</title>
</head>
<body>

	<ul class="navbar-nav" layout:fragment="options">
				<!-- Partner menu -->
				<li class="nav-item" sec:authorize="hasRole('Partner')">
					<a th:href="@{/partner/clinics/1/edit}" class="nav-link auth-nav"><i class="fa fa-pencil"></i> Edit</a>
				</li>
				<!-- Partner menu -->
				<li class="nav-item" sec:authorize="hasRole('Partner')">
					<a th:href="@{/partner/home}" class="nav-link auth-nav"><i class="fa fa-trash-o"></i> Delete</a>
				</li>
	</ul>

	<section layout:fragment="content">
		
		<div class="container mt-2">
			<div class="row pl-5 pr-5">
				<div class="col-lg-2 col-md-3 text-center">
					<img th:src="@{/resources/img/m-clinic.png}" class="img-fluid img-thumbnail" />
				</div>
				<div class="col-lg-10 col-md-9 d-flex align-items-center">
					<div>
						<h5>Clinic Name</h5>
						<h6>General clinic</h6>
						<p>No.1, Main Road, Yangon</p>
					</div>
				</div>
			</div>
			<div class="card mt-4 p-4 pb-5">
				<div class="row d-flex justify-content-center">
					<ul class="nav nav-pills" role="tablist">
						<li><a href="#overview" class="nav-link active" role="tab" data-toggle="pill" aria-selected="true">Overview</a></li>
						<li><a href="#doctors" class="nav-link" role="tab" data-toggle="pill" aria-selected="false">Doctors</a></li>
						<li><a href="#schedule" class="nav-link" role="tab" data-toggle="pill" aria-selected="false">Schedule</a></li>
					</ul>
				</div>
				<!-- <hr> -->
				<div class="tab-content" id="pills-tabContent">
					<div id="overview" class="tab-pane fade show active" role="tabpanel" aria-labelledby="pills-home-tab">
						<div class="row mt-4">
							<div class="col-lg-6 col-12">
								<div class="row">
									<div class="col-6">INFORMATION</div>
									<div sec:authorize="hasRole('Partner')" class="col-6 text-right"><i class="fa fa-pencil" aria-hidden="true" style="font-size:24px"></i></div>
								</div>
								<hr>
								<table class="gray-txt">
								
									<tr>
										<td valign="top">Name</td>
										<td valign="top">:</td>
										<td valign="top">Clinic Name</td>
									</tr>
									<tr>
										<td valign="top">Category</td>
										<td valign="top">:</td>
										<td valign="top">General clinic</td>
									</tr>
									<tr>
										<td valign="top">Phone</td>
										<td valign="top">:</td>
										<td valign="top">09451241887<br>09691381615</td>
									</tr>
									<tr>
										<td valign="top">Email</td>
										<td valign="top">:</td>
										<td valign="top"><a href="mailto:myclinic@gmail.com">myclinic@gmail.com</a></td>
									</tr>
									<tr>
										<td valign="top">Address</td>
										<td valign="top">:</td>
										<td valign="top">No.1, Main Road, Yangon</td>
									</tr>
									<tr>
										<td valign="top">Location</td>
										<td valign="top">:</td>
										<td></td>
									</tr>
									<tr>
										<td valign="top" colspan="2">
											<div>
												<pre>(Map is here)</pre>
											</div>
										</td>
									</tr>
								</table>
							</div>
							<div class="col-lg-6 col-12">
								OPENING TIME <hr>
								<div class="open-time-group gray-txt">
									<div class="card gray-txt height-card p-2 m-1">
										<div class="red-path"><i class="fa fa-calendar-minus-o" aria-hidden="true" style='font-size:24px'></i>&nbsp;&nbsp;Sun&#x00009;: Close</div>
									</div>
									<div class="card gray-txt height-card p-2 m-1">
										<div class="green-path"><i class="fa fa-calendar-check-o" aria-hidden="true" style='font-size:24px'></i>&nbsp;&nbsp;Mon&#x00009;: 09:00 am to 12:00 pm</div>
									</div>
									<div class="card gray-txt height-card p-2 m-1">
										<div class="green-path"><i class="fa fa-calendar-check-o" aria-hidden="true" style='font-size:24px'></i>&nbsp;&nbsp;Tue&#x00009;: 09:00 am to 12:00 pm</div>
									</div>
									<div class="card gray-txt height-card p-2 m-1">
										<div class="green-path"><i class="fa fa-calendar-check-o" aria-hidden="true" style='font-size:24px'></i>&nbsp;&nbsp;Web&#x00009;: 09:00 am to 12:00 pm</div>
									</div>
									<div class="card gray-txt height-card p-2 m-1">
										<div class="green-path"><i class="fa fa-calendar-check-o" aria-hidden="true" style='font-size:24px'></i>&nbsp;&nbsp;Thu&#x00009;: 09:00 am to 12:00 pm</div>
									</div>
									<div class="card gray-txt height-card p-2 m-1">
										<div class="green-path"><i class="fa fa-calendar-check-o" aria-hidden="true" style='font-size:24px'></i>&nbsp;&nbsp;Fri&#x00009;: 09:00 am to 12:00 pm</div>
									</div>
									<div class="card gray-txt height-card p-2 m-1">
										<div class="red-path"><i class="fa fa-calendar-minus-o" aria-hidden="true" style='font-size:24px'></i>&nbsp;&nbsp;Sat&#x00009;: Close</div>
									</div>
								</div>
							</div><!--open time end-->
							
						</div><!--Doctors complete-->
					</div><!--overview complete-->
					<div id="doctors" class="tab-pane fade show" role="tabpanel" aria-labelledby="pills-home-tab">
						This is Doctors
					</div>
					<div id="schedule" class="tab-pane fade show" role="tabpanel" aria-labelledby="pills-home-tab">
						This is Schedule
					</div>
				</div><!--Tab Content end-->
			</div><!--Card end-->
		</div><!--Main container end-->
	</section>
</body>
</html>