<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{/layout/template}">
<head>
<meta charset="ISO-8859-1">
<title>Edit Clinic</title>
</head>
<body>
	<section layout:fragment="content">
		<div class="row mt-3">
			<div class="col-md-1"></div>
			<div class="col-md-10 col-sm-12 col-xs-12">
				<form enctype="multipart/form-data" method="post">
					<div class="card form-group p-3">
						<h4 class="text-right" th:text="${clinic_title}"></h4>
						<p class="text-right">Please fill your clinic information</p>
						<hr>
						<div class="row pr-lg-3 pr-md-1 pt-1 pb-1">
							<label class="col-lg-3 col-md-4 col-sm-12 col-12">Enter
								Clinic Name</label> <input type="text" name="name"
								class="form-control col-lg-9 col-md-8 col-sm-12 col-12"
								placeholder="Name" required />
						</div>
						<div class="row pr-lg-3 pr-md-1 pt-1 pb-1">
							<label class="col-lg-3 col-md-4 col-sm-12 col-12">Enter
								Phone numbers</label> <input type="tel" name="phone"
								class="form-control col-lg-9 col-md-8 col-sm-12 col-12"
								placeholder="Phone" required />
						</div>
						<div class="row pr-lg-3 pr-md-1 pt-1 pb-1">
							<label class="col-lg-3 col-md-4 col-sm-12 col-12">Enter
								Email address</label> <input type="email" name="email"
								class="form-control col-lg-9 col-md-8 col-sm-12 col-12"
								placeholder="Email" />
						</div>
						<div class="row pr-lg-3 pr-md-1 pt-1 pb-1">
							<label class="col-lg-3 col-md-4 col-sm-12 col-12">Enter
								Address</label>
							<textarea class="form-control col-lg-9 col-md-8 col-sm-12 col-12"
								placeholder="Address" name="address" required></textarea>
						</div>
						
						<div class="row pr-lg-3 pr-md-1 pt-1 pb-1">
								<label class="col-lg-3 col-md-4 col-sm-12 col-12">Open times</label>
								<div class="col-lg-9 col-md-8 col-sm-12 col-12">
									<input type="checkbox" class="col form-check-input" name="hour"/><label>&nbsp;24 Hours</label>
									<table class="table col-12">
  										<thead style="background-color: #3A85C7; color: white">
											<tr>
												<th>Days</th>
												<th>From</th>
												<th>To</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>Sunday</td>
												<td><input type="time" name="from_time" class="form-control" placeholder="From"/></td>
												<td><input type="time" name="to_time" class="form-control" placeholder="To"/></td>
											</tr>
											<tr>
												<td>Monday</td>
												<td><input type="time" name="from_time" class="form-control" placeholder="From"/></td>
												<td><input type="time" name="to_time" class="form-control" placeholder="To"/></td>
											</tr>
											<tr>
												<td>Tuesday</td>
												<td><input type="time" name="from_time" class="form-control" placeholder="From"/></td>
												<td><input type="time" name="to_time" class="form-control" placeholder="To"/></td>
											</tr>
											<tr>
												<td>Wednesday</td>
												<td><input type="time" name="from_time" class="form-control" placeholder="From"/></td>
												<td><input type="time" name="to_time" class="form-control" placeholder="To"/></td>
											</tr>
											<tr>
												<td>Thursday</td>
												<td><input type="time" name="from_time" class="form-control" placeholder="From"/></td>
												<td><input type="time" name="to_time" class="form-control" placeholder="To"/></td>
											</tr>
											<tr>
												<td>Friday</td>
												<td><input type="time" name="from_time" class="form-control" placeholder="From"/></td>
												<td><input type="time" name="to_time" class="form-control" placeholder="To"/></td>
											</tr>
											<tr>
												<td>Saturday</td>
												<td><input type="time" name="from_time" class="form-control" placeholder="From"/></td>
												<td><input type="time" name="to_time" class="form-control" placeholder="To"/></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>

						<div class="row mt-3">
							<label class="col-lg-3 col-md-4 col-sm-12 col-12"></label>
							<div class="col-lg-9 col-md-8 col-sm-12 col-12 text-right">
								<input type="submit" class="btn btn-outline-danger"
									value="Cancel" /> <input type="submit"
									class="btn btn-outline-success" value="Submit" />
							</div>
						</div>

						<br>


					</div>
				</form>
			</div>
			<div class="col-md-1"></div>
		</div>

	</section>
</body>
</html>