<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{/layout/partner-deshboard-template}">
<head>
<title>Clinic A</title>
<link th:href="@{/resources/css/kst.css}" rel="stylesheet" type="text/css"/>

<style type="text/css">
	.c-profile-image{
		width: 140px;
		height: 140px;
	}
	.c-name{
		color: #834A07;
	}
	.c-category{
		color: black;
	}
	.beside-vline{
		border-left: 1px solid #999999;
	}
	
.my-card-columns .card{
	margin-bottom:.75rem
}
@media (min-width:992px){
	.my-card-columns{
		-webkit-column-count:2;
		-moz-column-count:2;
		column-count:2;
		-webkit-column-gap:1.25rem;
		-moz-column-gap:1.25rem;
		column-gap:1.25rem;
		orphans:1;
		widows:1
	}
	.my-card-columns .card{
		display:inline-block;
		width:100%
	}
}
.list-group-item{
	position: static;
}

</style>

</head>
<body>
	<div layout:fragment="dashboard-contents">
	
		<div class="container-fluid mt-2 p-3" th:object="${clinic}">
			<div class="card p-2" id="content">
        	<div id="one">	
        	
        		<img alt="No Image" class="c-profile-image img-fluid" th:src="@{/resources/img/clinic_profile.jpg}">
        		
			</div><!-- one end -->
			
        	<div id="two" class="container-fluid">
        	
				<div class="row">
						<div class="col-9 col-md-auto">
							
							<h4 class="c-name" th:text="*{name}"></h4>
							
							<span class="c-category text-muted" th:text="*{addrress.township.name}"></span>
							<span class="c-category text-muted"> &bull; </span>
							<span class="c-category text-muted" th:text="*{addrress.township.division.name}"></span>
						</div><!-- first column end -->
						
						<div class="col-auto order-md-2 order-1 dropdown">
							
							<a th:href="@{/partner/clinics/{id}/edit(id=${clinic.id})}"><span><i class="hover-scale-animation fal fa-pencil-alt" style="font-size: 20px; color:black;"></i></span></a>
							
						</div>
						
						
						
						
						<div class="col-12 col-md-auto mt-lg-0 mt-2 mr-auto order-md-1 order-2">
							<div class="beside-vline pl-3">
							
								<span style="color: #C98B42;">Social</span>
							
								<div class="d-flex justify-content-start">
								
									<a th:herf="@{#}" href="#"><i class="hover-scale-animation m-1 fab fa-facebook-square" style="font-size: 24px; color:#3B5998"></i></a>
									<a th:herf="@{#}" href="#"><i class="hover-scale-animation m-1 fab fa-twitter" style="font-size: 24px; color:#38A1F3"></i></a>
									<a th:herf="@{#}" href="#"><i class="hover-scale-animation m-1 fab fa-viber" style="font-size: 24px; color:#665CAC"></i></a>
									<a th:herf="@{#}" href="#"><i class="hover-scale-animation m-1 fab fa-linkedin-in" style="font-size: 24px; color:#007BB6"></i></a>
									
								</div>	
							</div>						
							
						</div><!-- second column end -->
						
						<div>
						</div><!-- third column end -->
						
				</div><!-- row end -->
				
				<hr class="mt-2 mb-2 mr-0">
				
			</div><!-- two end -->
			
        	<div id="three" class="container-fluid pl-0 pr-0 pl-md-3">
        	
				<div class="row">
				
					<div class="col-4">
					
						<div class="text-muted"><i class="far fa-phone"></i> Phones</div>
						
						<div th:each="ph: *{phone}">
							<div th:text="${ph}"></div>
						</div>
						
					</div>
						
					<div class="col-4">
					
						<div class="text-muted"><i class="far fa-envelope"></i> Email</div>
						
						
						<div th:each="mail: *{mails}">
							<div><a th:href="@{mailto:{m}(m=${mail})}" th:text="${mail}"></a></div>
						</div>
						
					</div>
						
					<div class="col-4">
					
						<div class="text-muted"><i class="far fa-location-arrow"></i> Address</div>
						
						<div th:text="*{addrress.address}"></div>
						
					</div>	
					
				</div>
								
			</div><!-- three end -->
			</div>
		</div>
		
		
		
		<div class="container-fluid">
		
			<div class="my-card-columns">
				
					<div class="card p-2">
						<div class="mt-2 mb-2 d-flex">
							<span class="mr-auto" style="color: #834A07"><span><i class="fal fa-clock" style="font-size: 20px;"></i></span> Opening Times</span>
							<span class="hover-scale-animation "><i class="fal fa-pencil-alt"></i></span>
						</div>
						<table class="text-center table table-striped table-bordered">
						
							<thead>
								 <tr>
								 	<td></td>
								 	<td><i class="fas fa-cloud-sun" style="font-size: 24px; color:#ffcc00"></i></td>
								 	<td><i class="fas fa-moon-cloud" style="font-size: 24px; color:#483475"></i></td>
								 	
								 </tr>
							</thead>
							<tbody>
								<tr>
									<th>Sunday</th>
									<td>08:00 am - 11:30 am</td>
									<td>01:00 pm - 09:00 pm</td>
								</tr>
								<tr>
									<th>Monday</th>
									<td>08:00 am - 11:30 am</td>
									<td class="text-danger">Closed</td>
								</tr>
								<tr>
									<th>Tuesday</th>
									<td class="text-danger">Closed</td>
									<td>01:00 pm - 09:00 pm</td>
								</tr>
								<tr>
									<th>Wednesday</th>
									<td colspan="2">08:00 am - 08:00 pm</td>
								</tr>
								<tr>
									<th>Thursday</th>
									<td colspan="2">24 hr</td>
								</tr>
								<tr>
									<th>Friday</th>
									<td colspan="2">08:00 am - 08:00 pm</td>
								</tr>
								<tr>
									<th>Saturday</th>
									<td colspan="2" class="text-danger">Closed</td>
								</tr>
								
							</tbody>
						
						</table>
					</div><!-- card 1 end -->
								
					<div class="card p-2">
					
						<div class="mt-2 mb-2 text-center">
						
							<span style="color: #3A70C7"><span><i class="fal fa-calendar-day" style="font-size: 20px;"></i></span> Today Schedule</span>
							
						</div>
						
						<div>
						
							<div class="list-group" style="height: 400px; overflow: scroll;">
								
								<a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
									Dr. Tun​ Tun - Orthopedic (8:00 am to 9:00 am)
									<span class="text-right"><i class="fal fa-chevron-right"></i></span>
								</a>
								<a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
									Dr. Tun​ Tun - Orthopedic (8:00 am to 9:00 am)
									<span class="text-right"><i class="fal fa-chevron-right"></i></span>
								</a>
								<a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center list-group-item-success">
									Dr. Tun​ Tun - Orthopedic (8:00 am to 9:00 am)
									<span class="text-right"><i class="fal fa-chevron-right"></i></span>
								</a>
								<a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
									Dr. Tun​ Tun - Orthopedic (8:00 am to 9:00 am)
									<span class="text-right"><i class="fal fa-chevron-right"></i></span>
								</a>
								<a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
									Dr. Tun​ Tun - Orthopedic (8:00 am to 9:00 am)
									<span class="text-right"><i class="fal fa-chevron-right"></i></span>
								</a>
								<a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
									Dr. Tun​ Tun - Orthopedic (8:00 am to 9:00 am)
									<span class="text-right"><i class="fal fa-chevron-right"></i></span>
								</a>
								<a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
									Dr. Tun​ Tun - Orthopedic (8:00 am to 9:00 am)
									<span class="text-right"><i class="fal fa-chevron-right"></i></span>
								</a>
								<a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
									Dr. Tun​ Tun - Orthopedic (8:00 am to 9:00 am)
									<span class="text-right"><i class="fal fa-chevron-right"></i></span>
								</a>
								<a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
									Dr. Tun​ Tun - Orthopedic (8:00 am to 9:00 am)
									<span class="text-right"><i class="fal fa-chevron-right"></i></span>
								</a>
							</div>
							
						</div>
					
					
					</div><!-- card 2 end -->
				</div>
				
			</div>
			
		</div>
			
		
		
	
</body>
</html>