
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{/layout/template}">
<head>
<link rel="stylesheet" th:href="@{/resources/css/Doctor.css}">
<meta charset="UTF-8">
<title>Detail</title>
</head>
<body>

	<section layout:fragment="content">

		<div class="container">
			<div class="main-wrapper">



				<div class="profile-info-left" style="min-height: 400px;">

					<div class="content">




						<div class="row">
							<div class="col-sm-4 col-6">
								<h2 class="page-title">Doctor Profile</h2>


							</div>



							<div class="container">
								<div class="row">
									<div class="col-3">
										<div class="profile-img-wrap">
											<div class="profile-img">
												<a href="#"><img class="avatar"
													th:src="@{/resources/img/doctor.png}" alt=""></a>
											</div>
										</div>
									</div>

									<div class="col-6">

										<div class="profile-basic">
											<div class="row">

												<div class="col-md-7">
													<ul class="personal-info">
														<li><span class="title">Name</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
															<span class="">:</span> <span class="text">Chit
																Thae</span></li>
														<li><span class="title">Specialist</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
															<span class="">:</span> <span class="text">Gynecologist</span>
														</li>
														<li><span class="title">Phone</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
															<span class="">:</span> <span class="text">770-889-6484</span>
														</li>
														<li><span class="title">Email</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
															<span class="">:</span> <span class="text">chitthae3131@gmail.com</span>
														</li>
														<li><span class="title">Birthday</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
															<span class="">:</span> <span class="text">3rd
																March</span></li>
														<li><span class="title">Address</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
															<span class="">:</span> <span class="text">HtaukKyant</span>
														</li>
														<li><span class="title">Gender</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
															<span class="">:</span> <span class="text">Female</span>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>


					<div class="profile-tabs" style="margin-top: 10px">

						<div class="tab-content">
							<div class="tab-pane show active" id="about-cont">
								<div class="row">
									<div class="col-6">
										<div class="card-box">
											<h3 class="card-title">Education Informations</h3>
											<div class="experience-box">
												<ul class="experience-list">
													<li>
														<div class="experience-user">
															<div class="before-circle"></div>
														</div>
														<div class="experience-content">
															<div class="timeline-content">
																<a href="#/" class="name">International College of
																	Medical Science (UG)</a>
																<div>MBBS</div>
																<span class="time">2001 - 2003</span>
															</div>
														</div>
													</li>
													<li>
														<div class="experience-user">
															<div class="before-circle"></div>
														</div>
														<div class="experience-content">
															<div class="timeline-content">
																<a href="#/" class="name">International College of
																	Medical Science (PG)</a>
																<div>MD - Obstetrics &amp; Gynaecology</div>
																<span class="time">1997 - 2001</span>
															</div>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="col-6">
										<div class="card-box mb-0">
											<h3 class="card-title">Experience</h3>
											<div class="experience-box">
												<ul class="experience-list">
													<li>
														<div class="experience-user">
															<div class="before-circle"></div>
														</div>
														<div class="experience-content">
															<div class="timeline-content">
																<a href="#/" class="name">Consultant Gynecologist</a> <span
																	class="time">Jan 2014 - Present (4 years 8
																	months)</span>
															</div>
														</div>
													</li>
													<li>
														<div class="experience-user">
															<div class="before-circle"></div>
														</div>
														<div class="experience-content">
															<div class="timeline-content">
																<a href="#/" class="name">Consultant Gynecologist</a> <span
																	class="time">Jan 2009 - Present (6 years 1
																	month)</span>
															</div>
														</div>
													</li>
													<li>
														<div class="experience-user">
															<div class="before-circle"></div>
														</div>
														<div class="experience-content">
															<div class="timeline-content">
																<a href="#/" class="name">Consultant Gynecologist</a> <span
																	class="time">Jan 2004 - Present (5 years 2
																	months)</span>
															</div>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>

</body>
</html>