
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{/layout/template}">
<head>
<meta charset="UTF-8">
<title>Detail</title>
</head>
<body>

    <div layout:fragment="content" class="container">
        <h2>Doctors</h2>

        <form action="/action_page.html" class="form-inline">

            <input type="text" placeholder="Search doctor" class="form-control form-rounded" size="40">
            <button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
            
           

        </form>
        <br>
        <div class="row">


            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="card mb-3 p-2" style="background-color:lightblue">

                    <table>
                        <tr>
                            <td>Name</td>
                            <td>:</td>
                            <td>Chit Thae</td>
                        </tr>
                        <tr>
                            <td>Degree</td>
                            <td>:</td>
                            <td>M.B.,B.S</td>
                        </tr>
                        <tr>
                            <td>Specialities</td>
                            <td>:</td>
                            <td>General</td>
                        </tr>
                        <tr>
                            <td>Gender</td>
                            <td>:</td>
                            <td>Female</td>
                        </tr>

                        <tr>
                            <td>Hospital</td>
                            <td>:</td>
                            <td>SSC</td>
                        </tr>
                        <tr>
                            <td>Position</td>
                            <td>:</td>
                            <td>Prof</td>
                        </tr>
                        <tr>
                            <td>LicenseCode</td>
                            <td>:</td>
                            <td>1105</td>
                        </tr>

                        <tr>
                            <td> <button type="button" class="btn btn-info">Schedule</button></td>
                            <td></td>
                            <td> <button type="button" class="btn btn-info">Delete</button></td>

                        </tr>
                    </table>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="card mb-3 p-2" style="background-color:lightblue">

                    <table>
                        <tr>
                            <td>Name</td>
                            <td>:</td>
                            <td>Chit Thae</td>
                        </tr>
                        <tr>
                            <td>Degree</td>
                            <td>:</td>
                            <td>M.B.,B.S</td>
                        </tr>
                        <tr>
                            <td>Specialities</td>
                            <td>:</td>
                            <td>General</td>
                        </tr>
                        <tr>
                            <td>Gender</td>
                            <td>:</td>
                            <td>Female</td>
                        </tr>

                        <tr>
                            <td>Hospital</td>
                            <td>:</td>
                            <td>SSC</td>
                        </tr>
                        <tr>
                            <td>Position</td>
                            <td>:</td>
                            <td>Prof</td>
                        </tr>
                        <tr>
                            <td>LicenseCode</td>
                            <td>:</td>
                            <td>1105</td>
                        </tr>

                        <tr>
                            <td> <button type="button" class="btn btn-info">Schedule</button></td>
                            <td></td>
                            <td> <button type="button" class="btn btn-info">Delete</button></td>

                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="card mb-3 p-2" style="background-color:lightblue">

                    <table>
                        <tr>
                            <td>Name</td>
                            <td>:</td>
                            <td>Chit Thae</td>
                        </tr>
                        <tr>
                            <td>Degree</td>
                            <td>:</td>
                            <td>M.B.,B.S</td>
                        </tr>
                        <tr>
                            <td>Specialities</td>
                            <td>:</td>
                            <td>General</td>
                        </tr>
                        <tr>
                            <td>Gender</td>
                            <td>:</td>
                            <td>Female</td>
                        </tr>

                        <tr>
                            <td>Hospital</td>
                            <td>:</td>
                            <td>SSC</td>
                        </tr>
                        <tr>
                            <td>Position</td>
                            <td>:</td>
                            <td>Prof</td>
                        </tr>
                        <tr>
                            <td>LicenseCode</td>
                            <td>:</td>
                            <td>1105</td>
                        </tr>

                        <tr>
                            <td> <button type="button" class="btn btn-info">Schedule</button></td>
                            <td></td>
                            <td> <button type="button" class="btn btn-info">Delete</button></td>

                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="card mb-3 p-2" style="background-color:lightblue">

                    <table>
                        <tr>
                            <td>Name</td>
                            <td>:</td>
                            <td>Chit Thae</td>
                        </tr>
                        <tr>
                            <td>Degree</td>
                            <td>:</td>
                            <td>M.B.,B.S</td>
                        </tr>
                        <tr>
                            <td>Specialities</td>
                            <td>:</td>
                            <td>General</td>
                        </tr>
                        <tr>
                            <td>Gender</td>
                            <td>:</td>
                            <td>Female</td>
                        </tr>

                        <tr>
                            <td>Hospital</td>
                            <td>:</td>
                            <td>SSC</td>
                        </tr>
                        <tr>
                            <td>Position</td>
                            <td>:</td>
                            <td>Prof</td>
                        </tr>
                        <tr>
                            <td>LicenseCode</td>
                            <td>:</td>
                            <td>1105</td>
                        </tr>

                        <tr>
                            <td> <button type="button" class="btn btn-info">Schedule</button></td>
                            <td></td>
                            <td> <button type="button" class="btn btn-info">Delete</button></td>

                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="card mb-3 p-2" style="background-color:lightblue">

                    <table>
                        <tr>
                            <td>Name</td>
                            <td>:</td>
                            <td>Chit Thae</td>
                        </tr>
                        <tr>
                            <td>Degree</td>
                            <td>:</td>
                            <td>M.B.,B.S</td>
                        </tr>
                        <tr>
                            <td>Specialities</td>
                            <td>:</td>
                            <td>General</td>
                        </tr>
                        <tr>
                            <td>Gender</td>
                            <td>:</td>
                            <td>Female</td>
                        </tr>

                        <tr>
                            <td>Hospital</td>
                            <td>:</td>
                            <td>SSC</td>
                        </tr>
                        <tr>
                            <td>Position</td>
                            <td>:</td>
                            <td>Prof</td>
                        </tr>
                        <tr>
                            <td>LicenseCode</td>
                            <td>:</td>
                            <td>1105</td>
                        </tr>

                        <tr>
                            <td> <button type="button" class="btn btn-info">Schedule</button></td>
                            <td></td>
                            <td> <button type="button" class="btn btn-info">Delete</button></td>

                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="card mb-3 p-2" style="background-color:lightblue">

                    <table>
                        <tr>
                            <td>Name</td>
                            <td>:</td>
                            <td>Chit Thae</td>
                        </tr>
                        <tr>
                            <td>Degree</td>
                            <td>:</td>
                            <td>M.B.,B.S</td>
                        </tr>
                        <tr>
                            <td>Specialities</td>
                            <td>:</td>
                            <td>General</td>
                        </tr>
                        <tr>
                            <td>Gender</td>
                            <td>:</td>
                            <td>Female</td>
                        </tr>

                        <tr>
                            <td>Hospital</td>
                            <td>:</td>
                            <td>SSC</td>
                        </tr>
                        <tr>
                            <td>Position</td>
                            <td>:</td>
                            <td>Prof</td>
                        </tr>
                        <tr>
                            <td>LicenseCode</td>
                            <td>:</td>
                            <td>1105</td>
                        </tr>

                        <tr>
                            <td> <button type="button" class="btn btn-info">Schedule</button></td>
                            <td></td>
                            <td> <button type="button" class="btn btn-info">Delete</button></td>

                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="card mb-3 p-2" style="background-color:lightblue">

                    <table>
                        <tr>
                            <td>Name</td>
                            <td>:</td>
                            <td>Chit Thae</td>
                        </tr>
                        <tr>
                            <td>Degree</td>
                            <td>:</td>
                            <td>M.B.,B.S</td>
                        </tr>
                        <tr>
                            <td>Specialities</td>
                            <td>:</td>
                            <td>General</td>
                        </tr>
                        <tr>
                            <td>Gender</td>
                            <td>:</td>
                            <td>Female</td>
                        </tr>

                        <tr>
                            <td>Hospital</td>
                            <td>:</td>
                            <td>SSC</td>
                        </tr>
                        <tr>
                            <td>Position</td>
                            <td>:</td>
                            <td>Prof</td>
                        </tr>
                        <tr>
                            <td>LicenseCode</td>
                            <td>:</td>
                            <td>1105</td>
                        </tr>

                        <tr>
                            <td> <button type="button" class="btn btn-info">Schedule</button></td>
                            <td></td>
                            <td> <button type="button" class="btn btn-info">Delete</button></td>

                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="card mb-3 p-2" style="background-color:lightblue">

                    <table>
                        <tr>
                            <td>Name</td>
                            <td>:</td>
                            <td>Chit Thae</td>
                        </tr>
                        <tr>
                            <td>Degree</td>
                            <td>:</td>
                            <td>M.B.,B.S</td>
                        </tr>
                        <tr>
                            <td>Specialities</td>
                            <td>:</td>
                            <td>General</td>
                        </tr>
                        <tr>
                            <td>Gender</td>
                            <td>:</td>
                            <td>Female</td>
                        </tr>

                        <tr>
                            <td>Hospital</td>
                            <td>:</td>
                            <td>SSC</td>
                        </tr>
                        <tr>
                            <td>Position</td>
                            <td>:</td>
                            <td>Prof</td>
                        </tr>
                        <tr>
                            <td>LicenseCode</td>
                            <td>:</td>
                            <td>1105</td>
                        </tr>

                        <tr>
                            <td> <button type="button" class="btn btn-info">Schedule</button></td>
                            <td></td>
                            <td> <button type="button" class="btn btn-info">Delete</button></td>

                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="card mb-3 p-2" style="background-color:lightblue">

                    <table>
                        <tr>
                            <td>Name</td>
                            <td>:</td>
                            <td>Chit Thae</td>
                        </tr>
                        <tr>
                            <td>Degree</td>
                            <td>:</td>
                            <td>M.B.,B.S</td>
                        </tr>
                        <tr>
                            <td>Specialities</td>
                            <td>:</td>
                            <td>General</td>
                        </tr>
                        <tr>
                            <td>Gender</td>
                            <td>:</td>
                            <td>Female</td>
                        </tr>

                        <tr>
                            <td>Hospital</td>
                            <td>:</td>
                            <td>SSC</td>
                        </tr>
                        <tr>
                            <td>Position</td>
                            <td>:</td>
                            <td>Prof</td>
                        </tr>
                        <tr>
                            <td>LicenseCode</td>
                            <td>:</td>
                            <td>1105</td>
                        </tr>

                        <tr>
                            <td> <button type="button" class="btn btn-info">Schedule</button></td>
                            <td></td>
                            <td> <button type="button" class="btn btn-info">Delete</button></td>

                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="card mb-3 p-2" style="background-color:lightblue">

                    <table>
                        <tr>
                            <td>Name</td>
                            <td>:</td>
                            <td>Chit Thae</td>
                        </tr>
                        <tr>
                            <td>Degree</td>
                            <td>:</td>
                            <td>M.B.,B.S</td>
                        </tr>
                        <tr>
                            <td>Specialities</td>
                            <td>:</td>
                            <td>General</td>
                        </tr>
                        <tr>
                            <td>Gender</td>
                            <td>:</td>
                            <td>Female</td>
                        </tr>

                        <tr>
                            <td>Hospital</td>
                            <td>:</td>
                            <td>SSC</td>
                        </tr>
                        <tr>
                            <td>Position</td>
                            <td>:</td>
                            <td>Prof</td>
                        </tr>
                        <tr>
                            <td>LicenseCode</td>
                            <td>:</td>
                            <td>1105</td>
                        </tr>

                        <tr>
                            <td> <button type="button" class="btn btn-info">Schedule</button></td>
                            <td></td>
                            <td> <button type="button" class="btn btn-info">Delete</button></td>

                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="card mb-3 p-2" style="background-color:lightblue">

                    <table>
                        <tr>
                            <td>Name</td>
                            <td>:</td>
                            <td>Chit Thae</td>
                        </tr>
                        <tr>
                            <td>Degree</td>
                            <td>:</td>
                            <td>M.B.,B.S</td>
                        </tr>
                        <tr>
                            <td>Specialities</td>
                            <td>:</td>
                            <td>General</td>
                        </tr>
                        <tr>
                            <td>Gender</td>
                            <td>:</td>
                            <td>Female</td>
                        </tr>

                        <tr>
                            <td>Hospital</td>
                            <td>:</td>
                            <td>SSC</td>
                        </tr>
                        <tr>
                            <td>Position</td>
                            <td>:</td>
                            <td>Prof</td>
                        </tr>
                        <tr>
                            <td>LicenseCode</td>
                            <td>:</td>
                            <td>1105</td>
                        </tr>

                        <tr>
                            <td> <button type="button" class="btn btn-info">Schedule</button></td>
                            <td></td>
                            <td> <button type="button" class="btn btn-info">Delete</button></td>

                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

</body>

<body>

</body>
</html>