<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{/layout/partner-deshboard-template}">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/resources/css/custom.css">
<title>Detail</title>
</head>
<style type="text/css">
#doctor-tb {
	width: 600px;
	margin-left: 150px;
}

.table thead {
	background-color: #3A85C7;
	color: black;
}

#tablethead{
background-color: #3A85C7;
}

.table tbody {
	text-align: left;
	vertical-align: middle;
	font-weight: 400;
	font-size: 14px;
	border-bottom: solid 2px lightgrey;
}

#patient-tr>tr:hover {
	background-color: #AFEEEE;
	cursor: pointer;
}

#search-bar {
	margin-left: 132px;
}
</style>
<body>
	<section layout:fragment="dashboard-contents">
		<div class="container">
			<h2>
				Doctor <i style='font-size: 24px' class='fa fa-user-md'></i>
			</h2>
			<div class="container">
				<div class="row">
					<div class="form-group col-4 ">
						<!--  <input type="text" placeholder="Search Booking..." id="searching"
					class="form-control form-rounded" size="35">-->

						<input list="encodings" value=""
							class="col-md-9 custom-select custom-select-md">
						<datalist id="encodings">
							<option th:each="clinic:${clinics}" th:text="${clinic.name}"></option>

						</datalist>



					</div>
					<div class="form-group col-4">
						<a class="btn btn-outline-info"
							th:href="@{/partner/doctors/create}" role="button"><i
							class="	fas fa-user-plus"></i>Add Doctor</a>
					</div>
					<!--  <input type="text" placeholder="Search Booking..." id="searching"
					class="form-control form-rounded" size="35">-->


					<div class="row " id="search-bar">

						<div id="search-doctor">
							<input type="text" placeholder="Search doctor..." id="searching"
								class="form-control form-rounded" size="27">

						</div>
						<div id="btn-circle-search">
							<button type="submit" class="btn  btn-circle">
								<i class="fa fa-search" style="color: white"></i>
							</button>
						</div>
					</div>
				</div>

			</div>
			<div class="tab-content">


				<div class="table-wrapper-scroll-y my-custom-scrollbar">
					<table class="table table-bordered mt-3">


						<thead id="tablehead">

							<tr class="table-info">
								<th class="text-center">No</th>
								<th class="text-center">Name</th>
								<th class="text-center">Degrees</th>
								<th class="text-center">Specialities</th>
								<th class="text-center"></th>

							</tr>
						</thead>
						<tbody id="doctor-tr">

							<tr th:each="doctor,iterationStatus : ${doctors}">
								<td class="text-center" th:text="${iterationStatus.count}"></td>
								<td class="text-center" th:text="${doctor.name}"></td>
								<td class="text-center" th:text="${doctor.degrees}"></td>
								<td class="text-center" th:text="${doctor.specialities}"></td>

								<td class="text-center">


									<div class="dropdown">
										<a href="#" class="action-icon dropdown-toggle-split"
											data-toggle="dropdown" aria-expanded="true"><i
											class="fas fa-ellipsis-h"></i></a>
										<div class="dropdown-menu"
											aria-labelledby="dropdownMenuButton">
											<a class="dropdown-item" href="#"
												th:href="@{'/partner/doctors/edit/'+${doctor.id}}"><i
												class="	fal fa-edit"></i> Edit</a> <a class="dropdown-item"
												data-toggle="modal"
												th:attr="data-target='#myModal'+${doctor.id}">
												<i id="cancel" class="fal fa-trash"></i> Delete
											</a> <a class="dropdown-item" href="#"
												th:href="@{'/partner/doctors/details/'+${doctor.id}}"><i
												class="	fal fa-info-circle"></i> Detail</a>
										</div>
									</div>

									<div class="modal fade" th:id="myModal+${doctor.id}"
										role="dialog">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<h4 class="modal-title" style="color: red">Are you
														sure to delete?</h4>
													<button type="button" class="btn btn-outline-primary"
														data-dismiss="modal">Cancel</button>
													<a class="btn btn-outline-danger"
														th:href="@{/partner/doctors/delete/{id}(id=${doctor.id})}">
														Yes </a>
												</div>
											</div>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>



					<!-- <div id="bookings-page">

						<ul class="pagination">
							<li class="page-item"><a class="page-link" href="#"
								aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
									<span class="sr-only">Previous</span>
							</a></li>
							<li class="page-item"><a class="page-link" href="#">1</a></li>
							<li class="page-item"><a class="page-link" href="#">2</a></li>
							<li class="page-item"><a class="page-link" href="#">3</a></li>
							<li class="page-item"><a class="page-link" href="#"
								aria-label="Next"> <span aria-hidden="true">&raquo;</span> <span
									class="sr-only">Next</span>
							</a></li>
						</ul>
					</div> -->
				</div>
			</div>
		</div>


		<script>
         $(document).ready(function(){
            $("#searching").on("keyup", function() {
               var value = $(this).val().toLowerCase();
               $("#doctor-tr tr").filter(function() {
                  $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
               });
            });
         });
      </script>
	</section>
</body>
</html>