<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{/layout/partner-deshboard-template}">
<head>
<meta charset="UTF-8">
<title>Detail</title>
<style type="text/css">
.dash-card-icons {
	color: white;
}


.table-in-card{
	color: white;
	width:100%;
}

.card-general .dash-card-icons{
	transform: scale(1,1);
	transition: all 0.3s;
}

.card-general:hover .dash-card-icons{
	 transform: scale(1.1,1.1);
}
.card-parent{
	
}
</style>
</head>
<body>
	<section layout:fragment="dashboard-contents">

		<div>
			<p style="font-size:20px;" class="ml-1">Dashboard</p>
			
		</div>
		<div class="container-fluid">
			<div class="row">
					
					<div class="col-lg-3 p-1 col-sm-6 card-parent">
						<div class="p-3 card-general" style="background-color: #834A07;">
							<table class="table-in-card">
								<tr>
									<td>Patients</td>
									<td rowspan="2" class="text-right">
										<i class="fas fa-user-injured dash-card-icons w-50 h-50"></i>
									</td>
								</tr>
								<tr>
									<td><h1>5,123</h1></td>
								</tr>

							</table>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6 p-1">
						<div class="p-3 card-general" style="background-color: #3A70C7;">
							<table class="table-in-card">
								<tr>
									<td>Bookings</td>
									<td rowspan="2" class="text-right">
										<i class="fas fa-book dash-card-icons w-50 h-50"></i>
									</td>
								</tr>
								<tr>
									<td><h1>920</h1></td>
								</tr>

							</table>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6 p-1">
						<div class="p-3 card-general" style="background-color: #C98B42;">
							<table class="table-in-card">
								<tr>
									<td>Doctors</td>
									<td rowspan="2" class="text-right">
										<i class="fas fa-user-md dash-card-icons w-50 h-50"></i>
									</td>
								</tr>
								<tr>
									<td><h1>42</h1></td>
								</tr>

							</table>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6 p-1">
						<div class="p-3 card-general" style="background-color: #3AC7BC;">
							<table class="table-in-card">
								<tr>
									<td>Clinics</td>
									<td rowspan="2" class="text-right ml-auto">
										<i class="fas fa-hospital dash-card-icons w-50 h-50"></i>
									</td>
								</tr>
								<tr>
									<td><h1>3</h1></td>
								</tr>

							</table>
						</div>
					</div>
					
			</div><!-- row bar end -->

		</div><!-- row bar end -->
			
		<div class="card mt-3 container-fluid">
			
			

			
				
		</div>
		
		
		
	</section>

</body>
</html>