<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{/layout/partner-deshboard-template}">
<head>
<meta charset="UTF-8">
<title>Dashboard</title>

<script th:src="@{/resources/js/chart.min.js}"></script>

<style type="text/css">
.dash-card-icons {
	color: white;
}

.table-in-card {
	color: white;
	width: 100%;
}

.card-general .dash-card-icons {
	transform: scale(1, 1);
	transition: all 0.3s;
}

.card-general:hover .dash-card-icons {
	transform: scale(1.1, 1.1);
}

.card-parent {
	
}

table {
	width: 100%;
	table-layout: fixed;
}

.table-hover tr:hover td {
	background-color: #AFEEEE;
}

.tbl-header {
	background-color: #AFEEEE;
}

.tbl-content {
	height: 250px;
	overflow-x: auto;
	margin-top: 0px;
	border: 1px solid rgba(255, 255, 255, 0.3);
}

.table-patient th {
	padding: 20px 15px;
	text-align: left;
	font-weight: 500;
	font-size: 16px;
	text-transform: uppercase;
}

.table-patient-body td {
	padding: 15px;
	text-align: left;
	vertical-align: middle;
	font-weight: 400;
	font-size: 14px;
	border-bottom: solid 1px lightgrey;
}

::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

canvas {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
</style>
</head>
<body>
	<section layout:fragment="dashboard-contents">

		<div>
			<p style="font-size: 20px;" class="ml-1">Dashboard</p>

		</div>
		<div class="container-fluid">
			<div class="row">

				<div class="col-lg-3 p-2 col-sm-6 card-parent">
					<div class="p-3 card-general" style="background-color: #834A07;">
						<table class="table-in-card">
							<tr>
								<td>Patients</td>
								<td rowspan="2" class="text-right"><i
									class="fas fa-user-injured dash-card-icons w-50 h-50"></i></td>
							</tr>
							<tr>
								<td><h1 th:text="${patientCount}"></h1></td>
							</tr>

						</table>
					</div>
				</div>

				<div class="col-lg-3 col-sm-6 p-2">
					<div class="p-3 card-general" style="background-color: #3A70C7;">
						<table class="table-in-card">
							<tr>
								<td>Bookings <small style="color: #ffffffaa">(Today)</small></td>
								<td rowspan="2" class="text-right"><i
									class="fas fa-book dash-card-icons w-50 h-50"></i></td>
							</tr>
							<tr>
								<td><h1 th:text="${bookingCount}"></h1></td>
							</tr>

						</table>
					</div>
				</div>

				<div class="col-lg-3 col-sm-6 p-2">
					<div class="p-3 card-general" style="background-color: #C98B42;">
						<table class="table-in-card">
							<tr>
								<td>Doctors</td>
								<td rowspan="2" class="text-right"><i
									class="fas fa-user-md dash-card-icons w-50 h-50"></i></td>
							</tr>
							<tr>
								<td><h1 th:text="${doctorCount}"></h1></td>
							</tr>

						</table>
					</div>
				</div>

				<div class="col-lg-3 col-sm-6 p-2">
					<div class="p-3 card-general" style="background-color: #3AC7BC;">
						<table class="table-in-card">
							<tr>
								<td>Clinics</td>
								<td rowspan="2" class="text-right ml-auto"><i
									class="fas fa-hospital dash-card-icons w-50 h-50"></i></td>
							</tr>
							<tr>
								<td><h1 th:text=${clinicCount}></h1></td>
							</tr>

						</table>
					</div>
				</div>

			</div>
			<!-- row bar end -->

		</div>
		<!-- row bar end -->

		<div class="mt-1 container-fluid">

			<div class="row">

				<div class="col-md-6 col-12 p-2">
				
					<div class="card p-2">
					
						<div class="d-flex">
							
							<span class="mr-auto">
								<i class="fal fa-chart-line"></i> Patient line chart
							</span>
							
							<span class="ml-auto">
								<a class="btn" onClick="lineChartMonthChange(0)"><i class="fal fa-chevron-left"></i></a><a class="btn" onClick="lineChartMonthChange(1)"><i class="fal fa-chevron-right"></i></a>
							</span>
							
							
						</div>
						<canvas id="patientLineChart"></canvas>
					
					</div>
					
				</div>
				
				<div class="col-md-6 col-12 p-2">
				
					<div class="card p-2">
					
						<div class="d-flex">
							
							<span class="mr-auto">
								<i class="fal fa-chart-pie"></i> Patient Pie chart
							</span>
							
							<span class="ml-auto">
								<a class="btn" onClick="dateChange(0)"><i class="fal fa-chevron-left"></i></a><small class="pie-date" th:text="${localDate}"></small><a class="btn" id="date-pie-right" onClick="dateChange(1)"><i class="fal fa-chevron-right"></i></a>
							</span>
							
							
						</div>
						<canvas th:unless="${pieChartData.isEmpty()}" id="patientPieChart"></canvas>
						<div class="text-center" th:if="${pieChartData.isEmpty()}" style="height: 100px;">
							 No Patient today!
						</div>
					
					</div>
					
				</div>


			</div>

		</div>


		<script type="text/javascript" th:inline="javascript">

		var today = [[${localDate}]];
		var clinicNames = [[${clinicNames}]];
		var pieData = [[${pieChartData}]];
		

		var chartDTO = [[${chartDTO}]];

		var ctx2 = document.getElementById('patientLineChart').getContext('2d');


		var lineChart = new Chart(ctx2, {
		    type: 'bar',
		    data: {
		        labels: chartDTO.labels,
		        datasets: chartDTO.dataSetList
		    },
		    options: {
		    	responsive: true,
		    	tooltips: {
					mode: 'index',
					intersect: false,
				},
				hover: {
					mode: 'nearest',
					intersect: true
				},
		        scales: {
		        	xAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Months'
						}
					}],
					yAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Number of Patients'
						},
					 	ticks: {
		                    beginAtZero: true
		                }
					}]
		        }
		    }
		});

		function lineChartMonthChange(num){
			$.ajax({
				url: "http://localhost/partner/home/line/"+lineChart.data.labels[5]+"/"+num,
				type: "GET",
				success: function(data){
					lineChart.data.labels = data.labels;
					lineChart.data.datasets = data.dataSetList
					lineChart.update();
				},
				error: function(xhr, status, err){
					
				}
			});
		}
		


		
		var ctx3 = document.getElementById('patientPieChart').getContext('2d');
		var pieChart = new Chart(ctx3,{
			type: 'doughnut',
			data:  {
			    datasets: [{
			        data: pieData,
			        backgroundColor: 
				        [
				        	'rgba(255, 99, 132, 0.5)',
				        	'rgba(54, 162, 235, 0.5)',
				        	'rgba(255, 206, 86, 0.2)',
		                	'rgba(75, 192, 192, 0.2)',
		                	'rgba(153, 102, 255, 0.2)',
		                	'rgba(255, 159, 64, 0.2)'
		                ],
	            	borderColor: 
		            	[
	            			'rgba(255, 99, 132, 1)',
	                    	'rgba(54, 162, 235, 1)',
	                    	'rgba(255, 206, 86, 1)',
	                    	'rgba(75, 192, 192, 1)',
	                    	'rgba(153, 102, 255, 1)',
	                    	'rgba(255, 159, 64, 1)'
						],
	            	borderWidth: 2,
	            	fill:false
			    }],
				labels:clinicNames
			}, options: {
		    	responsive: true,

				hover: {
					mode: 'nearest',
					intersect: true
				},
		    }
		});


		
		function dateChange(num){
			$.ajax({
				url: "http://localhost/partner/home/pie/"+$('.pie-date').text()+"/"+num,
				type: "GET",
				success: function(data){
					$('.pie-date').text(data.date);
					changePieData(data.ppcList);
				},
				error: function(xhr, status, err){
					
				}
			});
		}

		

		function changePieData(pieData){
			pieChart.data.datasets[0].data = pieData;
			pieChart.update();
		}

		</script>

	</section>

</body>
</html>