<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{/layout/partner-deshboard-template}">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/resources/css/custom.css">
<title>Bookings</title>
<style type="text/css">
#patient-tb {
	width: 600px;
	margin-left: 150px;
}

.table thead {
	background-color: #3A85C7;
}

.table tbody {
	text-align: left;
	vertical-align: middle;
	font-weight: 400;
	font-size: 14px;
	border-bottom: solid 2px lightgrey;
}

#patient-tr>tr:hover {
	background-color: gray;
	cursor: pointer;
}

#search-bar {
	margin-left: 132px;
}
</style>
</head>
<body>
	<section layout:fragment="dashboard-contents">
		<div class="container">
			<h3 class="mx-3">
				<i class="fa fa-wheelchair"></i>Patients
			</h3>
			<div class="container-fluid">
			<div class="row" id="search-bar">

						<div id="search-patient">
							<input type="text" placeholder="Search patient" id="search"
								class="form-control form-rounded" size="35">

						</div>
						<div id="btn-circle-search">
							<button type="submit" class="btn  btn-circle">
								<i class="fa fa-search" style="color: white"></i>
							</button>
						</div>
					</div>
			
				<table class="table table-responsive-md" id="patient-tb">
							<thead>
								<tr>
									<td>No.</td>
									<td>Patient</td>
									<td>Clinic</td>
									<td></td>
								</tr>
							</thead>
							<tbody id="patient-tr" th:each="patient,iterationStatus : ${patients}">
								<a href="#" >
									<tr class="table-row" th:data-href="@{'/partner/1/patients/'+${patient.id}}">

										<td th:text="${iterationStatus.count}"></td>
										<td th:text="${patient.familyMember.name}"></td>
										<td th:text="${patient.clinic.name}"></td>
										<td><span class="text-right"><i
												class="fal fa-chevron-right"></i></span></td>
									</tr>
								</a>
								
							</tbody>
						</table>
				
</div>
			<!-- <div class="container-fluid">

				<ul class="nav nav-tabs" role="tablist">
					<li th:each="clinic : ${clinics}" class="nav-item"><a class="nav-link active"
						data-toggle="tab" th:href="@{'#'+${clinic.name}}"
						th:text="${clinic.name}">Clinic A</a></li>
					<li class="nav-item"><a class="nav-link" data-toggle="tab"
						href="#clinicB">Clinic B</a></li>
					<li class="nav-item"><a class="nav-link" data-toggle="tab"
						href="#clinicC">Clinic C</a></li>
				</ul>

			</div>

 -->			<!-- <div class="tab-content" th:each="clinic : ${clinics}">
				<div class="row mx-3 mt-3 container tab-pane active" th:id="${clinic.name}">

					<div class="row" id="search-bar">

						<div id="search-patient">
							<input type="text" placeholder="Search patient"
								class="form-control form-rounded" size="35">

						</div>
						<div id="btn-circle-search">
							<button type="submit" class="btn  btn-circle">
								<i class="fa fa-search" style="color: white"></i>
							</button>
						</div>
					</div>

					<div class="table-wrapper-scroll-y my-custom-scrollbar">
						<table class="table table-responsive-md" id="patient-tb">
							<thead>
								<tr>
									<td>No.</td>
									<td>Patient</td>
									<td>Phone</td>
									<td></td>
								</tr>
							</thead>
							<tbody id="patient-tr">
								<a href="#" th:href="@{/partner/1/patients/1}">
									<tr class="table-row" th:data-href="@{/partner/1/patients/1}"
									th:each="patient,iterationStatus : ${patients}"
									>

										<td th:text="${iterationStatus.count}"></td>
										<td th:text="${patient.familyMember.name}"></td>
										<td th:text="${patient.familyMember.bloodType}"></td>
										<td><span class="text-right"><i
												class="fal fa-chevron-right"></i></span></td>
									</tr>
								</a>
								
							</tbody>
						</table>

						<div id="bookings-page">

							<ul class="pagination">
								<li class="page-item"><a class="page-link" href="#"
									aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
										<span class="sr-only">Previous</span>
								</a></li>
								<li class="page-item"><a class="page-link" href="#">1</a></li>
								<li class="page-item"><a class="page-link" href="#">2</a></li>
								<li class="page-item"><a class="page-link" href="#">3</a></li>
								<li class="page-item"><a class="page-link" href="#"
									aria-label="Next"> <span aria-hidden="true">&raquo;</span>
										<span class="sr-only">Next</span>
								</a></li>
							</ul>
						</div>
					</div>


				</div>

				<div class="row mx-3 mt-3 container tab-pane fade" id="clinicB">

					<div class="row" id="search-bar">

						<div id="search-patient">
							<input type="text" placeholder="Search patient"
								class="form-control form-rounded" size="35">

						</div>
						<div id="btn-circle-search">
							<button type="submit" class="btn  btn-circle">
								<i class="fa fa-search" style="color: white"></i>
							</button>
						</div>
					</div>

					<div class="table-wrapper-scroll-y my-custom-scrollbar">
						<table class="table table-responsive-md" id="patient-tb">
							<thead>
								<tr>
									<td>No.</td>
									<td>Patient</td>
									<td>Phone</td>
									<td></td>
								</tr>
							</thead>
							<tbody id="patient-tr">
								<a href="#" th:href="@{/partner/1/patients/1}">
									<tr class="table-row" th:data-href="@{/partner/1/patients/1}">

										<td>1</td>
										<td>Daw Mya</td>
										<td>0945634456</td>
										<td><span class="text-right"><i
												class="fal fa-chevron-right"></i></span></td>

									</tr>
								</a>
								<tr>
									<td>2</td>
									<td>Daw Mya</td>
									<td>097852312</td>
									<td><span class="text-right"><i
											class="fal fa-chevron-right"></i></span></td>

								</tr>
								<tr>
									<td>3</td>
									<td>Daw Mya</td>
									<td>0978541236</td>
									<td><span class="text-right"><i
											class="fal fa-chevron-right"></i></span></td>

								</tr>
								<tr>
									<td>4</td>
									<td>Daw Mya</td>
									<td>09654123</td>
									<td><span class="text-right"><i
											class="fal fa-chevron-right"></i></span></td>

								</tr>
								<tr>
									<td>5</td>
									<td>Daw Mya</td>
									<td>09561234</td>
									<td><span class="text-right"><i
											class="fal fa-chevron-right"></i></span></td>

								</tr>
								<tr>
									<td>6</td>
									<td>Daw Mya</td>
									<td>09852369</td>
									<td><span class="text-right"><i
											class="fal fa-chevron-right"></i></span></td>

								</tr>

							</tbody>
						</table>

						<div id="bookings-page">

							<ul class="pagination">
								<li class="page-item"><a class="page-link" href="#"
									aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
										<span class="sr-only">Previous</span>
								</a></li>
								<li class="page-item"><a class="page-link" href="#">1</a></li>
								<li class="page-item"><a class="page-link" href="#">2</a></li>
								<li class="page-item"><a class="page-link" href="#">3</a></li>
								<li class="page-item"><a class="page-link" href="#"
									aria-label="Next"> <span aria-hidden="true">&raquo;</span>
										<span class="sr-only">Next</span>
								</a></li>
							</ul>
						</div>
					</div>

				</div>
				<div class="row mx-3 mt-3 container tab-pane fade" id="clinicC">

					<div class="row" id="search-bar">

						<div id="search-patient">
							<input type="text" placeholder="Search patient"
								class="form-control form-rounded" size="35">

						</div>
						<div id="btn-circle-search">
							<button type="submit" class="btn  btn-circle">
								<i class="fa fa-search" style="color: white"></i>
							</button>
						</div>
					</div>

					<div class="table-wrapper-scroll-y my-custom-scrollbar">
						<table class="table table-responsive-md" id="patient-tb">
							<thead>
								<tr>
									<td>No.</td>
									<td>Patient</td>
									<td>Phone</td>
									<td></td>
								</tr>
							</thead>
							<tbody id="patient-tr">
								<a href="#" th:href="@{/partner/1/patients/1}">
									<tr class="table-row" th:data-href="@{/partner/1/patients/1}">

										<td>1</td>
										<td>Daw Mya</td>
										<td>0945634456</td>
										<td><span class="text-right"><i
												class="fal fa-chevron-right"></i></span></td>

									</tr>
								</a>
								<tr>
									<td>2</td>
									<td>Daw Mya</td>
									<td>097852312</td>
									<td><span class="text-right"><i
											class="fal fa-chevron-right"></i></span></td>

								</tr>
								<tr>
									<td>3</td>
									<td>Daw Mya</td>
									<td>0978541236</td>
									<td><span class="text-right"><i
											class="fal fa-chevron-right"></i></span></td>

								</tr>
								<tr>
									<td>4</td>
									<td>Daw Mya</td>
									<td>09654123</td>
									<td><span class="text-right"><i
											class="fal fa-chevron-right"></i></span></td>

								</tr>
								<tr>
									<td>5</td>
									<td>Daw Mya</td>
									<td>09561234</td>
									<td><span class="text-right"><i
											class="fal fa-chevron-right"></i></span></td>

								</tr>
								<tr>
									<td>6</td>
									<td>Daw Mya</td>
									<td>09852369</td>
									<td><span class="text-right"><i
											class="fal fa-chevron-right"></i></span></td>

								</tr>

							</tbody>
						</table>

					<div id="bookings-page">
						
							<ul class="pagination">
								<li class="page-item"><a class="page-link" href="#"
									aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
										<span class="sr-only">Previous</span>
								</a></li>
								<li class="page-item"><a class="page-link" href="#">1</a></li>
								<li class="page-item"><a class="page-link" href="#">2</a></li>
								<li class="page-item"><a class="page-link" href="#">3</a></li>
								<li class="page-item"><a class="page-link" href="#"
									aria-label="Next"> <span aria-hidden="true">&raquo;</span>
										<span class="sr-only">Next</span>
								</a></li>
							</ul>
						</div>
					</div>

				</div>

			</div>
 -->

		</div>

		<script>
         $(document).ready(function(){
            $("#search").on("keyup", function() {
               var value = $(this).val().toLowerCase();
               $("#patient-tr tr").filter(function() {
                  $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
               });
            });
         });
      </script>
		<script type="text/javascript">
			$(document).ready(function($) {
				$(".table-row").click(function() {
					window.document.location = $(this).data("href");
				});
			});
		</script>

	</section>

</body>
</html>