<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{/layout/template}">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/resources/css/custom.css">
<title>Bookings</title>
</head>
<body>
	<section layout:fragment="content">
		<br>
		<div class="container ">

			<div class="row  ">

				<div class="col-lg-3 col-md-4 col-sm-6 col-12">
					<h5>
						<i class="fa fa-info "></i><i> </i>INFORMATION
					</h5>

					<table>
						<tr>
							<td><b>Name</b></td>
							<td>:</td>
							<td>Daw Mya</td>
						</tr>
						<tr>
							<td><b>Date of Birth</b></td>
							<td>:</td>
							<td>10 Jun 1970</td>
						</tr>
						<tr>
							<td><b>Gender</b></td>
							<td>:</td>
							<td>Female</td>
						</tr>

						<tr>
							<td><b>Blood Type</b></td>
							<td>:</td>
							<td>AB+</td>
						</tr>
						<tr>
							<td><b>Ph no</b></td>
							<td>:</td>
							<td>09536478942</td>
						</tr>
						<tr>
							<td><b>Address</b></td>
							<td>:</td>
							<td>South Okkalapa</td>
						</tr>

					</table>
				</div>
			</div>
		</div>
		<br>
      <div class="row mx-3">
			<h5>
				<i class="fa fa-history "></i><i> </i>MEDICAL HISTORY
			</h5>
			<table
				class="table  table-responsive-md   table-hover table-bordered "
				id="table-bookings">
				<tr class="tableHeading-color ">
					<td>No</td>
					<td>Doctor Name</td>
					<td>Date</td>
					<td>Time</td>
					<td>Disease</td>
				</tr>
				<tbody id="myTable">
					<tr>
						<td>1</td>
						<td>Dr.Soe Naing</td>
						<td>25 Jan 2018</td>
						<td>8:00am to 11:00am</td>
						<td>Diabetes</td>
					</tr>
					<tr>
						<td>2</td>
						<td>Dr.San San Win</td>
						<td>28 Jan 2019</td>
						<td>1:00pm to 3:00pm</td>
						<td>Diabetes</td>
					</tr>
					<tr>
						<td>3</td>
						<td>Dr.Soe Naing</td>
						<td>25 Jan 2018</td>
						<td>8:00am to 11:00am</td>
						<td>Diabetes</td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
</body>
</html>