
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{/layout/partner-deshboard-template}">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/resources/css/custom.css">
<title>Detail</title>
</head>
<style type="text/css">
#doctor-tb {
	width: 600px;
	margin-left: 150px;
}

.table thead {
	background-color: #AFEEEE;
	color: black;
}

.table tbody {
	text-align: left;
	vertical-align: middle;
	font-weight: 400;
	font-size: 14px;
	border-bottom: solid 2px lightgrey;
}

#patient-tr>tr:hover {
	background-color: #AFEEEE;
	cursor: pointer;
}

#search-bar {
	margin-left: 132px;
}
</style>
<body>

	<section layout:fragment="dashboard-contents">
		<div class="modal" id="myModal">
			<div class="row">
				<div class="col-lg-3 col-md-2"></div>
				<div class="col-lg-6 col-md-8 col-sm-12 col-12 card"
					style="background-color: white;">
					<div>
						<div class="container mt-5">
							<h4>Add Schedule</h4>
							<div>
								<form method="post" th:object="${tTable}"
									th:action="@{/partner/schedules/create}">

									<div class="form-group">
										<label for="sel1">Select Doctor</label> <select
											class="form-control mdb-select md-form" name="doctor"
											id="doctor_option" th:field="*{clinicDoctor.doctor.id}">

											<option th:each="clinicDoctor:${clinicDoctors}"
												th:text="${clinicDoctor.doctor.name}"
												th:value="${clinicDoctor.doctor.id}"></option>
										</select>
									</div>

									<div class="form-group">
										<label for="" class="cusLabel"> Select Clinic</label> <input
											type="text" class="form-control" placeholder="Clinic">
									</div>
									<div class="form-group">
										<label for="" class="cusLabel"> From</label> <input
											th:field="*{timeFrom}" type="time" class="form-control"
											placeholder="Enter Start Time">
									</div>
									<div class="form-group">
										<label for="" class="cusLabel"> To</label> <input type="time"
											th:field="*{timeTo}" class="form-control"
											placeholder="Enter End Time">
									</div>
									<div class="form-group">
										<label for="" class="cusLabel">Day Of Week:</label> <select
											class="custom-select">
											<option selected>Day Of Week</option>
											<option>Sunday</option>
											<option>Monday</option>
											<option>Tuesday</option>
											<option>Wednesday</option>
											<option>Thursday</option>
											<option>Friday</option>
											<option>Saturday</option>
										</select>
									</div>
									<div class="form-group">
										<button class="btn btn-outline-success" type="submit">Create</button>

										<a class="btn btn-outline-danger" data-dismiss="modal">Cancel</a>
									</div>
								</form>
								<!--form end-->
							</div>
							<!--form div end-->
						</div>
					</div>
				</div>
				<!--container end-->
			</div>
		</div>
		<div class="container">
			<h2>
				Doctor Schedule &nbsp;<i style='font-size: 24px'
					class='fal fa-calendar-alt'></i>
			</h2>
			<div class="form-group col-6" style="float: right">
				<a class="btn btn-outline-primary" data-toggle="modal"
					data-target="#myModal">Create Schedule</a>
			</div>
			<div class="container-fluid"></div>
			<div class="tab-content">
				<div class="row mx-3 mt-3 container tab-pane active" id="clinicA">

					<div class="row" id="search-bar">

						<div id="search-doctor">
							<input type="text" placeholder="Search doctor..."
								class="form-control form-rounded" size="35">

						</div>
						<div id="btn-circle-search">
							<button type="submit" class="btn  btn-circle">
								<i class="fa fa-search" style="color: white"></i>
							</button>
						</div>
					</div>

					<div class="table-wrapper-scroll-y my-custom-scrollbar">

						<table class="table table-bordered mt-3" id="ChitTable">
							<thead class="thead-danger">

								<tr class="table-info">

									<th class="text-center">No</th>
									<th class="text-center">Doctor</th>
									<th class="text-center">Clinic</th>

									<th class="text-center">Specialization</th>
									<th class="text-center">From</th>
									<th class="text-center">To</th>
									<th class="text-center">Action</th>

								</tr>
							</thead>

							<tbody>

								<tr th:each="timeTable : ${timetables}">
									<td class="text-center" th:text="${timeTable.id}"></td>
									<td class="text-center"
										th:text="${timeTable.clinicDoctor.doctor.name}"></td>
									<td class="text-center"
										th:text="${timeTable.clinicDoctor.clinic.name}"></td>
									<td class="text-center"
										th:text="${timeTable.clinicDoctor.doctor.specialities}"></td>
									<td class="text-center" th:text="${timeTable.timeTo}"></td>
									<td class="text-center" th:text="${timeTable.timeTo}"></td>


									<td class="text-center">


										<div class="dropdown">
											<a href="#" class="action-icon dropdown-toggle-split"
												data-toggle="dropdown" aria-expanded="true"><i
												class="fas fa-ellipsis-h"></i></a>
											<div class="dropdown-menu"
												aria-labelledby="dropdownMenuButton">
												<a class="dropdown-item" data-toggle="modal"
													data-target="#myModal" 
													th:href="@{'/partner/schedules/edit/'+${timeTable.clinicDoctor.doctor.name}}">
													<i class="fas fa-edit"></i>Edit</a>
													
												

												<a class="dropdown-item" href="#"
													th:href="@{/partner/schedules/delete/{id}}" onclick="return confirm(Are you sure?)">
													<i class="fas fa-trash"></i> Delete
												</a> 

											</div>
										</div>
									</td>
								</tr>
							</tbody>

						</table>
					</div>
				</div>

			</div>
		</div>
		<script>
		</script>
	</section>
</body>
</html>