<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{/views/clinic-detail-template}">
<head>
<meta charset="UTF-8" />
<title th:text="${clinic.name}"></title>
</head>
<body>
	<div layout:fragment="clinic-details-content">
		<div class="d-flex justify-content-center">
			<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist" >
				<li class="nav-item"><a class="nav-link "  th:href="@{/clinics/{id}(id=${clinic.id})}" id="pills-home-tab" role="tab" aria-selected="false" ><span><i class="fal fa-info"></i> Overview</span></a></li>
				
				<li class="nav-item"><a class="nav-link active" id="pills-profile-tab" href="" aria-controls="pills-profile" aria-selected="false"><span><i class="fal fa-user-md"></i> Doctors</span></a></li>
				
				<li class="nav-item"><a class="nav-link" id="pills-contact-tab" th:href="@{/clinics/{id}/schedules(id=${clinic.id})}" role="tab" aria-controls="pills-contact" aria-selected="false"><span><i class="fal fa-calendar-alt"></i> Schedules</span></a></li>
			</ul>
		</div>

		<div class="tab-content">

			<div class="row">
				<div class="col-lg-6 col-sm-12">

					<div class="card p-2" id="doctorList">

						<div class="list-group" style="height: 400px; overflow: auto;">


							
							<a href="#"  onclick="toggle_visibility('scheduleDoctor');"	
							class="list-group-item
							 list-group-item-action d-flex 
							 justify-content-between align-items-center"
								th:each="clinicdoctor :${clinicdoctorList}"
								th:href="@{/clinics/1/doctors/{id}(id=${clinicdoctor.id})}"
								 >
								 
								<span th:text="${clinicdoctor.name}"></span>
								 <span class="text-right">
								<i class="fal fa-chevron-right"></i></span>
							</a>
							 
						</div>
					</div>
					<!-- card end -->


				</div>

				<div 
				 class="doctorSchedule col-lg-6 col-sm-12" 
				 id="scheduleDoctor">
					<div class="card-columns">
						<div class="card" th:each="doctorSchedule: ${doctorSchedules}">
					
							
								
								<div class="card-title bg-info p-2 text-white" th:text="${doctorSchedule.day}"></div>
							<div class="card-text ml-2 mb-2"><span th:text = "${doctorSchedule.timeFrom}"></span><span th:text = "${doctorSchedule.timeTo}"></span></div>
							<div class="btn btn-sm btn-outline-primary float-right mr-2 mb-2">Book</div>
						
						</div>
						
					</div>
				</div>
				
				
			</div>
		</div>
		<!-- tab-content-end -->

	</div>
	
	
	
</body>
</html>