<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{/layout/template}">
<head>
<meta charset="ISO-8859-1">
<title>Clinic</title>
</head>
<body>



	<ul class="navbar-nav" layout:fragment="options">
		<!-- Partner menu -->
		<li class="nav-item" sec:authorize="hasRole('Partner')"><a
			th:href="@{/partner/clinics/1/edit}" class="nav-link auth-nav"><i
				class="fa fa-pencil"></i> Edit</a></li>
		<!-- Partner menu -->
		<li class="nav-item" sec:authorize="hasRole('Partner')"><a
			th:href="@{/partner/home}" class="nav-link auth-nav"><i
				class="fa fa-trash-o"></i> Delete</a></li>
	</ul>

	<section layout:fragment="content">
		<div class="mt-2">
			<div class="row pl-5 pr-5">
				<div class="col-lg-2 col-md-3 text-center">
					<img th:src="@{/resources/img/m-clinic.png}"
						class="img-fluid img-thumbnail" />
				</div>
				<div class="col-lg-10 col-md-9 d-flex align-items-center">
					<div>
						<h5>Clinic Name</h5>
						<h6>General clinic</h6>
						<p>No.1, Main Road, Yangon</p>
					</div>
				</div>
			</div>
			<div class="card mt-4 p-4 pb-5">
				<div layout:fragment="clinic-details-content"></div>

			</div>
		</div>
	</section>

</body>
</html>