<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{/views/clinic-detail-template}">
<head>
<meta charset="ISO-8859-1">
<title th:text="${clinic.name}"></title>
</head>
<body>
	<div layout:fragment="clinic-details-content">
		<div class="d-flex justify-content-center">
			<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  					<li class="nav-item">
    					<a class="nav-link active" href="" id="pills-home-tab" aria-selected="false"><span><i class="fal fa-info"></i> Overview</span></a>
  					</li>
  					<li class="nav-item">
  						<a class="nav-link" id="pills-profile-tab"  href="" th:href="@{/clinics/{id}/doctors(id=${clinic.id})}" role="tab" aria-controls="pills-profile" aria-selected="false"><span><i class="fal fa-user-md"></i> Doctors</span></a>
  					</li>
  					<li class="nav-item">
  						<a class="nav-link" id="pills-contact-tab" th:href="@{/clinics/{id}/schedules/(id=${clinic.id})}" role="tab" aria-controls="pills-contact" aria-selected="false"><span><i class="fal fa-calendar-alt"></i> Schedules</span></a>
  					</li>
			</ul>
		</div>
	
		<!-- <hr> -->
		<div class="tab-content">
			<div id="overview">
				<div class="row mt-4">
					<div class="col-lg-6 col-12">
						<div class="row">
							<div class="col-6">INFORMATION</div>
						</div>
						<hr>
						<table class="gray-txt">

							<tr>
								<td valign="top">Name</td>
								<td valign="top">:</td>
								<td valign="top" th:text="${clinic.name}"></td>
							</tr>
							<tr>
								<td valign="top">Category</td>
								<td valign="top">:</td>
								<td valign="top">General clinic</td>
							</tr>
							<tr>
								<td valign="top">Phone</td>
								<td valign="top">:</td>
								<td valign="top">
									<div th:unless="${clinic.phone.isEmpty()}" th:each="ph: ${clinic.phone}" th:text="*{ph}"></div>
									<div th:if="${clinic.phone.isEmpty()}"><small class="text-danger"><i class="fal fa-exclamation-triangle"></i> No Phone Found</small></div>
								</td>
							</tr>
							<tr>
								<td valign="top">Email</td>
								<td valign="top">:</td>
								<td valign="top">
									<div th:unless="${clinic.mails.isEmpty()}" th:each="mail: ${clinic.mails}" ><a th:href="@{mailto:*{mail}}" th:text="*{mail}"></a></div>
									<div th:if="${clinic.mails.isEmpty()}"><small class="text-danger"><i class="fal fa-exclamation-triangle"></i> No Mail Found</small></div>
								</td>
							</tr>
							<tr>
								<td valign="top">Address</td>
								<td valign="top">:</td>
								<td valign="top" th:text="${clinic.addrress.address}"></td>
							</tr>
							<tr>
								<td valign="top">Location</td>
								<td valign="top">:</td>
								<td></td>
							</tr>
							<tr>
								<td valign="top" colspan="2">
									<div>
										<pre>(Map is here)</pre>
									</div>
								</td>
							</tr>
						</table>
					</div>
					<div class="col-lg-6 col-12">
						
					<div class="card p-2">
						<div class="mt-2 mb-2 d-flex">
							<span class="mr-auto" style="color: #834A07"><span><i class="fal fa-clock" style="font-size: 20px;"></i></span> Opening Times</span>
							
						</div>
						<table class="text-center table table-striped table-bordered">
						
							<thead>
								 <tr>
								 	<td></td>
								 	<td><i class="fas fa-cloud-sun" style="font-size: 24px; color:#ffcc00"></i></td>
								 	<td><i class="fas fa-moon-cloud" style="font-size: 24px; color:#483475"></i></td>
								 	
								 </tr>
							</thead>
							<tbody>
								<tr>
									<th>Sunday</th>
									<td>08:00 am - 11:30 am</td>
									<td>01:00 pm - 09:00 pm</td>
								</tr>
								<tr>
									<th>Monday</th>
									<td>08:00 am - 11:30 am</td>
									<td class="text-danger">Closed</td>
								</tr>
								<tr>
									<th>Tuesday</th>
									<td class="text-danger">Closed</td>
									<td>01:00 pm - 09:00 pm</td>
								</tr>
								<tr>
									<th>Wednesday</th>
									<td colspan="2">08:00 am - 08:00 pm</td>
								</tr>
								<tr>
									<th>Thursday</th>
									<td colspan="2">24 hr</td>
								</tr>
								<tr>
									<th>Friday</th>
									<td colspan="2">08:00 am - 08:00 pm</td>
								</tr>
								<tr>
									<th>Saturday</th>
									<td colspan="2" class="text-danger">Closed</td>
								</tr>
								
							</tbody>
						
						</table>
					</div><!-- card 1 end -->
					</div>
					<!--open time end-->

				</div>
				<!--Doctors complete-->
			</div>
			<!--overview complete-->
		</div>
				
	
		<!--Tab Content end-->
	</div>
</body>
</html>