<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{/layout/template}">
<head>
<meta charset="UTF-8">
<title>Doctor Detail</title>
</head>
<body>
	<section layout:fragment="content">
		<br> <br>
		<div class="container">
		<div>
			<h4>Doctor Details</h4>
			<div class="row">
				<div class="col-md-6">
					 <div class="card">
			   <table class="table">
				<tbody>
					<tr>
						<td class="text-muted"  align="right" style="width: 30%;"> Name : </td>
						<td style="width: 70% " ><strong th:text="${doctor.name}"></strong></td>
					</tr>
					<tr>
						<td class="text-muted"  align="right" style="width: 30%;"> Speciality : </td>
						<td style="width: 70% " ><strong th:text="${doctor.specialities}"></strong></td>	
					</tr>
					<tr>
						<td class="text-muted"  align="right" style="width: 30%;"> Degree : </td>
						<td style="width: 70% " ><strong th:text="${doctor.degrees}"></strong></td>	
					</tr> 
					<tr>
						<td class="text-muted"  align="right" style="width: 30%;"> Gender : </td>
						<td style="width: 70% " ><strong th:text="${doctor.gender}"></strong></td>	
					</tr> 
					<tr>
						<td class="text-muted"  align="right" style="width: 30%;"> Hospital : </td>
						<td style="width: 70% " ><strong th:text="${doctor.hospital}"></strong></td>	
					</tr> 
					<tr>
						<td class="text-muted"  align="right" style="width: 30%;">  Position : </td>
						<td style="width: 70% " ><strong th:text="${doctor. position}"></strong></td>	
					</tr>
				</tbody>
			</table>
			</div>
				</div>
			</div>
			
			
			<br>
	           <h4>
					<strong>OSC</strong>
				</h4>
			<table class="table table-bordered table-sm ">
				
				<thead>
					<tr class="tableHeading-color">
						<th>Date</th>

						<th>Time</th>
						<th>Time</th>

					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Sunday</td>

						<td>3:00 pm to 7:00pm</td>
						<td></td>

					</tr>
					<tr>
						<td>Monday</td>

						<td>2:00pm 3:00pm</td>
						<td></td>

					</tr>
					<tr>
						<td>Tuesday</td>

						<td></td>
						<td></td>


					</tr>
					<tr>
						<td>Wednesday</td>

						<td></td>
						<td></td>


					</tr>
					<tr>
						<td>Thursday</td>

						<td>2:00pm 3:00pm</td>
						<td>7:00pm 9:00pm</td>

					</tr>
					<tr>
						<td>Friday</td>

						<td></td>
						<td></td>

					</tr>
					<tr>
						<td>Saturday</td>
						<td>8:00am 10:00am</td>
						<td>4:00pm 6:00pm</td>


					</tr>
					<tr>
				</tbody>
			</table>

			<h4>
					<strong>Shin Par Gu</strong>
				</h4>
			<table class="table table-bordered table-sm ">
				<thead>
					<tr class="tableHeading-color">
						<th>Date</th>

						<th>Time</th>
						<th>Time</th>

					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Sunday</td>

						<td>3:00 pm to 7:00pm</td>
						<td></td>

					</tr>
					<tr>
						<td>Monday</td>

						<td>2:00pm 3:00pm</td>
						<td></td>

					</tr>
					<tr>
						<td>Tuesday</td>

						<td></td>
						<td></td>


					</tr>
					<tr>
						<td>Wednesday</td>

						<td></td>
						<td></td>


					</tr>
					<tr>
						<td>Thursday</td>

						<td>2:00pm 3:00pm</td>
						<td>7:00pm 9:00pm</td>

					</tr>
					<tr>
						<td>Friday</td>

						<td></td>
						<td></td>

					</tr>
					<tr>
						<td>Saturday</td>
						<td>8:00am 10:00am</td>
						<td>4:00pm 6:00pm</td>


					</tr>
					<tr>
				</tbody>
			</table>
			<h4>
					<strong>SSC</strong>
				</h4>
			<table class="table table-bordered table-sm">
				
				<thead>
					<tr class="tableHeading-color">
						<th>Date</th>

						<th>Time</th>
						<th>Time</th>

					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Sunday</td>

						<td>3:00 pm to 7:00pm</td>
						<td></td>

					</tr>
					<tr>
						<td>Monday</td>

						<td>2:00pm 3:00pm</td>
						<td></td>

					</tr>
					<tr>
						<td>Tuesday</td>

						<td></td>
						<td></td>


					</tr>
					<tr>
						<td>Wednesday</td>

						<td></td>
						<td></td>


					</tr>
					<tr>
						<td>Thursday</td>

						<td>2:00pm 3:00pm</td>
						<td>7:00pm 9:00pm</td>

					</tr>
					<tr>
						<td>Friday</td>

						<td></td>
						<td></td>

					</tr>
					<tr>
						<td>Saturday</td>

						<td>4:00pm 6:00pm</td>
						<td></td>

					</tr>
					<tr>
				</tbody>
			</table>

		</div>
</div>

		
	</section>

</body>
</html>