<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{/layout/template2}">
<head>
<meta charset="UTF-8">
<title>Doctor List</title>
<style type="text/css">
	body{
		background-image: url("/resources/img/bkimg.jpg");
	}
</style>
</head>
<body>
	<section layout:fragment="content">
	<div class="container-fluid mt-5" style="padding-bottom: 0;">
		
			
			
			<div class="card-columns">
				<div class="container">
					<div class="card border-primary  btn-seemore-tone ">
						<div class="shadow">
							<div class="card-body ">
								<p>
									<strong><i class="fa fa-user-md"></i> Dr.San Lwin Oo</strong>
								</p>
								<p>
									<i class="fa fa-graduation-cap"></i> M.B.,B.S
								</p>
								<p>Neurologist</p>
								<a th:href="@{doctors/1}"class="btn btn-primary btn-sm">See more</a>
							</div>
						</div>
					</div>  
					
					<div class="card border-primary btn-seemore-tone ">
						<div class="shadow">
							<div class="card-body ">
								<p>
									<strong><i class="fa fa-user-md"></i> Dr.San Lwin</strong>
								</p>
								<p>
									<i class="fa fa-graduation-cap"></i> M.B.,B.S
								</p>
								<p>Neurologist</p>
								<a th:href="@{doctors/1}" class="btn btn-primary btn-sm">See more</a>
							</div>
						</div>
					</div> 
					
					<div class="card border-primary  btn-seemore-tone ">
						<div class="shadow">
							<div class="card-body ">
								<p>
									<strong><i class="fa fa-user-md"></i> Dr.Thet Hylar Tin</strong>
								</p>
								<p>
									<i class="fa fa-graduation-cap"></i> M.B.,B.S
								</p>
								<p>Neurologist</p>
								<a th:href="@{doctors/1}" class="btn btn-primary btn-sm">See more</a>
							</div>  
						</div>
					</div> 
					</div>
					<div class="card border-primary  btn-seemore-tone">
						<!-- <div class="shadow"> -->
							<div class="card-body ">
								<p>
									<strong><i class="fa fa-user-md"></i> Dr.Khin Sandar Tin</strong>
								</p>
								<p>
									<i class="fa fa-graduation-cap"></i> M.B.,B.S
								</p>
								<p>Neurologist</p>
								<a th:href="@{doctors/1}" class="btn btn-primary btn-sm">See more</a>
							</div>
						<!--</div>  -->
					</div> 
					
					<div class="card border-primary btn-seemore-tone ">
						<div class="shadow">
							<div class="card-body ">
								<p>
									<strong><i class="fa fa-user-md"></i> Dr.Su Yin Min</strong>
								</p>
								<p>
									<i class="fa fa-graduation-cap"></i> M.B.,B.S
								</p>
								<p>Neurologist</p>
								<a th:href="@{doctors/1}" class="btn btn-primary btn-sm">See more</a>
							</div>
						</div>
					</div> 
					
					<div class="card border-primary btn-seemore-tone ">
						<div class="shadow">
							<div class="card-body ">
								<p>
									<strong><i class="fa fa-user-md"></i> Dr.Khin Khin Oo</strong>
								</p>
								<p>
									<i class="fa fa-graduation-cap"></i> M.B.,B.S
								</p>
								<p>Neurologist</p>
								<a th:href="@{doctors/1}" class="btn btn-primary btn-sm">See more</a>
							</div>
						</div>
					</div> 
					
					<div class="card border-primary btn-seemore-tone ">
						<div class="shadow">
							<div class="card-body ">
								<p>
									<strong><i class="fa fa-user-md"></i> Dr.Yu Nandar</strong>
								</p>
								<p>
									<i class="fa fa-graduation-cap"></i> M.B.,B.S
								</p>
								<p>Neurologist</p>
								<a th:href="@{doctors/1}" class="btn btn-primary btn-sm">See more</a>
							</div>
						</div>
					</div> 
					
					<div class="card border-primary btn-seemore-tone ">
						<div class="shadow">
							<div class="card-body ">
								<p>
									<strong><i class="fa fa-user-md"></i> Dr.Htet Aung Lin</strong>
								</p>
								<p>
									<i class="fa fa-graduation-cap"></i> M.B.,B.S
								</p>
								<p>Neurologist</p>
								<a th:href="@{doctors/1}" class="btn btn-primary btn-sm">See more</a>
							</div>
						</div>
					</div> 
					
					<div class="card border-primary btn-seemore-tone ">
						<div class="shadow">
							<div class="card-body ">
								<p>
									<strong><i class="fa fa-user-md"></i> Dr.Chit Thae</strong>
								</p>
								<p>
									<i class="fa fa-graduation-cap"></i> M.B.,B.S
								</p>
								<p>Neurologist</p>
								<a th:href="@{doctors/1}" class="btn btn-primary btn-sm">See more</a>
							</div>
						</div>
					</div> 
				</div>
			</div>
		<!-- Footer -->
<footer class="page-footer">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> JDCInternship.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
	</section> 
</body>
</html>