<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{/layout/template2}">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/resources/css/custom.css">
<title>Doctor List</title>
<style type="text/css">
body {
	background-image: url("/resources/img/bkimg.jpg");
}

#mysearch:focus+.input-group-addon {
	z-index: 10;
}

#search-btn:hover {
	cursor: pointer;
	background-color: white;
}
</style>
</head>
<body>
	<section layout:fragment="content">
		
			<div class="container-fluid mt-3 "> 
			
			<div class="row">
			<form action="/doctors/" method="get" class="form pl-2 pr-2">
					
						<input type="text" name="keyword" th:value="${keyword}" class="form-control" placeholder="Search Doctors">
						
					</form>
				<!-- 	<div class="container-fluid">
					
						<div class="text-center text-warning mt-5">
						
							<div>
							
								<i class="fal fa-exclamation-triangle" style="font-size: 40px;"></i>
								<p>No Doctor Found</p>
								
							</div>
							
						</div>
					</div> -->
					</div>
			<div class="container-fluid" >
					
			<div  th:each="publicdoctor :${publicdoctors}">

				<div class="col-sm-3" >
					<div class="card border-primary  btn-seemore-tone">
						<div class="shadow">
							<div class="card-body " >
								<p>
									<span class="text-center mr-3">Doctor Name <span class="ml-1">:</span> </span>
									<i class="fa fa-user-md"></i>
									<strong th:text="${publicdoctor.name}"></strong>
								</p>
								
								<p>
								<div th:each="speciality :${publicdoctor.specialities}" class="row ml-1">
									<span class="text-center mr-3">Speciality <span class="ml-4 mr-2">:</span> </span>
								
									
									
									<span th:text="${speciality}"></span> 
									</div>
								</p>
								
									
								
								<p><span class="mr-3">License code <span class="ml-2">:</span> </span><span th:text="${publicdoctor.licenseCode}"></span></p>
								<p>
									<span class="text-center mr-3">Clinic Name <span class="ml-3">:</span> </span>
									<i class="fa fa-user-md"></i>
									<strong th:text="${publicdoctor.hospital}"></strong>
								</p>
								<a th:href="@{doctors/1}" class="float-right mb-2">See
									more</a>
							</div>
						</div>
					</div>
				</div>
				<!-- <div class="col-sm-3">
					<div class="card border-primary  btn-seemore-tone ">
						<div class="shadow">
							<div class="card-body">
								<p>
									<strong><i class="fa fa-user-md"></i> Dr.Thet Hylar
										Tin</strong>
								</p>
								<p>
									<i class="fa fa-graduation-cap"></i> M.B.,B.S
								</p>
								<p>Neurologist</p>
								<a th:href="@{doctors/1}" class="btn btn-primary btn-sm">See
									more</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="card border-primary  btn-seemore-tone ">
						<div class="shadow">
							<div class="card-body ">
								<p>
									<strong><i class="fa fa-user-md"></i></strong>
								</p>
								<p>
									<i class="fa fa-graduation-cap"></i> M.B.,B.S
								</p>
								<p>Neurologist</p>
								<a th:href="@{doctors/1}" class="btn btn-primary btn-sm">See
									more</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="card border-primary  btn-seemore-tone ">
						<div class="shadow">
							<div class="card-body ">
								<p>
									<strong><i class="fa fa-user-md"></i> Dr.Thet Hylar
										Tin</strong>
								</p>
								<p>
									<i class="fa fa-graduation-cap"></i> M.B.,B.S
								</p>
								<p>Neurologist</p>
								<a th:href="@{doctors/1}" class="btn btn-primary btn-sm">See
									more</a>
							</div>
						</div>
					</div>
				</div> -->

			</div>
			</div>

					
		
	</section>
</body>
</html>