<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{/views/templogin}">
<head>
<meta charset="UTF-8">
<title>Login</title>

<style type="text/css">


.login-btn{
	background-color: #3A85C7;
	color: white;
}
.login-btn:hover{
	color:white;
}

</style>

</head>
<body>

	<section layout:fragment="sign-box">
		
			<div class="text-center">
					<i class="fal fa-user-circle dash-card-icons" style="width:40px; height:40px;"></i>
					<p style="font-size:24px;">Login</p>
			</div>
					
					
					
					<hr>
					
					
					<form action="" method="post" th:action="@{/login}">
					
					
						<div class="form-group">
						
							<label class="label">Enter User ID</label>
							<input type="text" name="loginId" placeholder="User ID" class="form-control"/>
							
						</div>
						
						
						<div class="form-group">
						
							<label class="label">Enter Password</label>
							<input type="password" name="password" placeholder="Password" class="form-control"/>
							
						</div>
						
						<div class="form-group text-center">
						
							<a href="#" style="position:center"><small>Forgot Password?</small></a>
							
						</div>
						
						<div class="form-group">
						
							<input type="submit" class="w-100 btn login-btn" value="Login"/>
							
						</div>
						
						<div class="form-group text-center mt-5">
						
							<small>Not a member? <a th:href="@{/signup}" style="position:center; color:green;">Create Account</a></small>
							
						</div>
						
					</form>
	
	</section>

</body>
</html>