<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{/views/templogin}">
<head>
<meta charset="UTF-8">
<title>Login</title>

<style type="text/css">


.login-btn{
	background-color: #3A85C7;
	color: white;
}
.login-btn:hover{
	color:white;
}

</style>

</head>
<body>

	<section layout:fragment="sign-box">
		
			<div class="text-center">
					<i class="fal fa-user-circle dash-card-icons" style="width:40px; height:40px;"></i>
					<p style="font-size:24px;">Sign Up</p>
			</div>
					
					
					
					<hr>
					
					
					<form action="" method="post" th:action="@{/login}">
					
						<div class="form-group">
						
							<label class="label">Enter User Name</label>
							<input type="text" name="loginId" placeholder="Name" class="form-control"/>
							
						</div>
					
						<div class="form-group">
						
							<label class="label">Enter Phone Number</label>
							<input type="text" name="loginId" placeholder="Phone number" class="form-control"/>
							
						</div>
						
						
						<div class="form-group">
						
							<label class="label">Enter Password</label>
							<input id="password" type="password" name="password" placeholder="Password" class="form-control"/>
							
						</div>
						
						<div class="form-group">
						
							
							<label class="label">Confirm Password <small id="confirm-error"></small></label>
							<input id="confirm_password" type="password" name="conf-password" placeholder="Password" class="form-control"/>
							
							
						</div>
						<div class="form-group text-center">
						
							<input type="checkbox" class="form-check-input" name="check">
							
							<label class="form-check-label" for="exampleCheck1">
								<small>I agree to <a href="#">Terms of Service</a> &amp; <a href="#">Privacy Policy</a></small>
							</label>
							
						</div>
						
						
						<div class="form-group">
						
							<button type="submit" class="w-100 btn login-btn"><i class="fal fa-paper-plane"></i> Sign Up</button>
							
						</div>
						
						<div class="form-group text-center mt-5">
						
							<small>If you have an account.&nbsp;<a th:href="@{/login}" style="position:center; color:green;">Login here</a></small>
							
						</div>
						
					</form>
	
	
	
		<script>
			$('#password, #confirm_password').keyup(
					function() {
						var temp = $('#confirm_password').val();
						if (temp.length != 0) {
							if ($('#password').val() == $('#confirm_password')
									.val()) {
								$('#confirm-error').html('(valid passwords)')
										.css('color', 'green');
							} else {
								$('#confirm-error').html(
										'(Passwords must match)').css('color',
										'red');
							}
						} else {
							$('#confirm-error').html('');
						}
					});
		</script>
	
	</section>

</body>
</html>